[2016-06-09 20:56] SeanFeldman commented on #245
Documentation needs to be validated against some of these changes

[2016-06-09 23:30] SeanFeldman commented on #246
@danielmarbach did you submit a support ticket? Anything new you have found? Should we investigate?

[2016-06-10 17:00] SeanFeldman commented on #252
After discussion with @melkio there's a more basic question I'd like to be answered. It will have an impact on how `IValidationStrategy` and `ISanitizationStrategy` could change.

_Should these two strategies be merged into one as they are both required for a **entity path/name** validation & sanitization?_

The first spike (#255) has removed the need to injecting validation strategy into sanitiza

[2016-06-11 05:50] SeanFeldman commented on #252
Update:
**SPIKE #255 - Do not perform validation in sanitization code**
`ValidationResult` created by validation is passed into sanitization

**SPIKE #257 - Validation and sanitization combined into ISanitizationStrategy**
Validation and sanitization is one strategy

**[SPIKE] #260 - Sanitization strategy per entity type**
Validation and sanitization is one strategy. Each `EntityType` can have it'

[2016-06-12 14:57] danielHalan commented on #246
Hi, suspected it to be in regard with messages as this endpoint works in a QA environment (and no code changes since it stopped working) and after clearing topics (there was quite some messages stuck) its back to normal.. will open support@ ticket with compiled logs / endp

[2016-06-13 13:53] yvesgoeleven commented on #252
I don't like spike #257 and #260. For the reason that it makes it hard for users to inject their existing naming conventions. Right now users can set their naming rules easily by means of a publicely available func, IValidationStrategy was intended as wrapper for this func. With IValidationStrategy & ISanitizationStrategy thrown together it will become hard for them to just set their naming rules

[2016-06-13 19:06] SeanFeldman commented on #252
I'll bring one more disadvantageous point for combining validation and sanitization - order matters. Character sanitization can cancel length sanitization, which is undesired.

[2016-06-14 10:41] yvesgoeleven commented on #6
Verified

[2016-06-14 10:41] #6 closed

[2016-06-14 12:20] melkio commented on #252
Also in the current release oreder matters, isn't it? Transport sanitizes chars before validating again to check if length is fine after the first step of sanitization.

Could you take a look to this [comment](https://github.com/Particular/NServiceBus.AzureServiceBus/pull/255/files#r66956187) related to "ordering" to validate what I wrote?

[2016-06-14 16:07] SeanFeldman commented on #252
@melkio correct. Order matters in the current version.

[2016-06-14 21:59] SeanFeldman commented on #252
#### Summary of the ASB Maintainers call from today

ASB maintainers focused on this issue as it raised some issues associated with the spikes and revealed a deeper issue - [ability to validate & sanitise individual entity types](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/master/src/Transport/Topology/QueueAndTopicByEndpoint/NamingConventions.cs) that was in place in previous v

[2016-06-15 08:28] melkio commented on #252
Sorry @SeanFeldman but I don't understand the scenario covered by the last "mockup"

[code]

Is the user registering a strategy and then are they overriding only specific "parts"?

[2016-06-15 10:10] melkio opened #263 "Adjust namespaces"
As described [here](https://github.com/Particular/PlatformDevelopment/blob/master/designprinciples/nservicebus/component-naming.md) namespaces need to be re-adjusted

Part of #204

[2016-06-15 10:15] melkio opened #264 "New nuget package name"
As described [here](https://github.com/Particular/PlatformDevelopment/blob/master/designprinciples/nservicebus/component-naming.md) the new nuget name would be `NServiceBus.Transport.AzureServiceBus` (ASB v7)

Part of #204

[2016-06-15 10:19] melkio commented on #245
Updated description splitting #204 into #263 (I'm working on it) and #264 (out of RC scope)

[2016-06-15 14:25] SeanFeldman commented on #263
Let's keep this on hold until significant code changes are done. Will
minimize number of conflicts.

[2016-06-15 23:15] SeanFeldman commented on #252
Correct @melkio. `ValidateAndHashIfNeeded` strategy is selected and one can override validation, sanitization, and hashing operation.

[2016-06-16 07:55] melkio commented on #252
Ok, last question only to be sure to get the point.
First scenario is using the `default strategy` and user is overriding `validation` and `sanitization` for queues. Is it right?

[2016-06-16 17:22] SeanFeldman commented on #252
Correct @melkio And since default is `ThrowOnExceptionsSanitization`, sanitation registration will not be allowed.

[2016-06-20 04:30] SeanFeldman commented on #252
My concern is about https://github.com/Particular/NServiceBus.AzureServiceBus/pull/265#issuecomment-227048320

[2016-06-20 12:17] yvesgoeleven commented on #192
I've tested the scenario where User requests the TransportTransactionMode.TransactionScope. This has been covered by the core and throws an InvalidOperationException with text Azure Service Bus transport doesn't support the required transaction mode TransactionScope.

[2016-06-20 12:27] MarcinHoppe commented on #192
@yvesgoeleven So we should be good removing these two settings. Want me to create a PR?

[2016-06-20 12:27] yvesgoeleven commented on #192
@MarcinHoppe already created

[2016-06-20 12:28] yvesgoeleven commented on #192
I'm also testing the UnitOfWork().WrapHandlersInATransactionScope() scenario, that seems to work fine (besides a crappy key not found exception that I'll report to the core)

[2016-06-20 12:32] yvesgoeleven commented on #192
here is the associated PR https://github.com/Particular/NServiceBus.AzureServiceBus/pull/266

[2016-06-20 15:00] SeanFeldman commented on #235
Fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/e1a38fb341cb539b570b37aebd081a385786cab2

[2016-06-20 15:00] #235 closed

[2016-06-21 02:22] mikeminutillo commented on #124
@SzymonPobiega @yvesgoeleven https://github.com/Particular/NServiceBus/issues/3406 was completed and https://github.com/Particular/NServiceBus/issues/3652 was raised and parked with the intention of making a change in a minor after the release of core v6. Does this issue need to be re-opened or can it be closed?

[2016-06-21 03:43] SeanFeldman commented on #252
For documentation, we could add the following rules used by V6/V7 to validate and sanitise entity paths/names:

**Validation Rules, V6**
// All entities in v6 only allowed letters, numbers, periods (.), hyphens (-), and underscores (_)
Regex EntityValidationRule = new Regex(@"^[0-9A-Za-z_\.\-]+$");

**Validation Rules, V7**
// Entity segments can contain only letters, numbers, periods (.), hyphens

[2016-06-21 06:53] yvesgoeleven commented on #124
@mikeminutillo has the data distribution scenario been tested as part of this?

[2016-06-22 01:26] mikeminutillo commented on #124
@yvesgoeleven I do not know as I wasn't involved. @SzymonPobiega may know more.

[2016-06-22 06:30] SzymonPobiega commented on #124
@yvesgoeleven no. There was a decision (and I was not involved in it) to drop the data distribution PoC. We can make it a sample though.

[2016-06-27 08:47] yvesgoeleven commented on #252
Updated compat & perf tests, pushed to nuget

[2016-06-27 08:47] #252 closed

[2016-06-27 12:08] yvesgoeleven commented on #229
Docs PR https://github.com/Particular/docs.particular.net/pull/1640

[2016-06-27 12:09] yvesgoeleven commented on #254
Part of https://github.com/Particular/NServiceBus.AzureServiceBus/pull/265

[2016-06-27 12:09] #254 closed

[2016-06-27 12:10] #192 closed

[2016-06-27 12:10] #180 closed

[2016-06-27 12:11] yvesgoeleven commented on #253
Renamed to ValidateAndHasIfNeeded, not the default

[2016-06-27 12:11] #253 closed

[2016-06-27 12:11] yvesgoeleven commented on #204
replaced by https://github.com/Particular/NServiceBus.AzureServiceBus/issues/263 & https://github.com/Particular/NServiceBus.AzureServiceBus/issues/264

[2016-06-27 12:11] #204 closed

[2016-06-27 12:12] #163 closed

[2016-06-28 10:32] ramonsmits opened #270 "System.ArgumentException: RuleName"
Getting the following exception:

Based on the usage of **ValidateAndHashIfNeeded** I would not expect this exception.

Using the *V6Sanitization* snippet does not result in this exception likely to indicate that *ValidateAndHashIfNeeded* is broken.

The last NServiceBus code in the stacktrace is:

     at NServiceBus.AzureServiceBus.AzureServiceBusForwardingSubscriptionCreator.<Create>d__5.MoveNe

[2016-06-28 12:23] yvesgoeleven commented on #270
The root of the problem:

setting ValidateAndHashIfNeeded does not change the default settings for validation & sanitization rules, for now they need to be specified using

var strategy = sanitization.UseStrategy<ValidateAndHashIfNeeded>();
strategy.QueuePathSanitization(queuePath => "sanitized queuePath");
strategy.TopicPathSanitization(topicPath => "sanitized topicPath");
strategy.SubscriptionNa

[2016-06-28 14:03] yvesgoeleven opened #272 "Review Internal vs Public for reuse"
Review Internal vs Public API for reuse

[2016-06-29 13:54] jaldipp commented on #30
Hi,

Just wanted to say hello to you and let you know that I found something interesting for you, look at it here <http://ziltothyra.vahaug.com/uevzlfmv>

Sent from a prehistoric stone tablet, jaldipp@yahoo.com

[2016-06-29 20:57] SeanFeldman commented on #270
Documentation on [`ValidateAndHashIfNeeded`](http://docs.particular.net/nservicebus/azure-service-bus/sanitization#automated-sanitization-versions-7-and-above) will need to be updated.

[2016-07-01 08:01] mikeminutillo commented on #124
@yvesgoeleven @SzymonPobiega if there is work left to do, can it be raised in a new issue? This issue is labelled as Withdrawn and should be closed.

[2016-07-01 12:31] yvesgoeleven opened #273 "Infinitest went down on the following exception, figure out why"
2016-07-01 12:29:32.820 WARN  NServiceBus.AzureServiceBus.Utils.MessageReceiverExtensions A timeout exception occured while trying to complete a batch of messages, the exception was The request operation did not complete within the allotted timeout of 00:01:06.4501013. The time allotted to this operation may have been a portion of a longer timeout. TrackingId:b4922b69-136d-4567-9fb1-6dce7d6bdc12,

[2016-07-01 12:38] yvesgoeleven commented on #273
Note, this is not the cause of the process going down, but a symptom

[2016-07-02 05:53] SeanFeldman commented on #273
@yvesgoeleven this exception should have been caught and swallowed [according to the code](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/ae2178d1f514a7919c537afa264932228e44ea51/src/Transport/Utils/MessageReceiverExtensions.cs#L42). Looks like this is critical enough that it bubbles up anyways?

[2016-07-04 13:46] yvesgoeleven opened #276 "Can't set token provider for namespace managers"

[2016-07-04 15:41] melkio commented on #276
Closed by #275

[2016-07-04 15:41] #276 closed

[2016-07-05 12:09] #229 closed

[2016-07-05 12:11] yvesgoeleven commented on #273
@SeanFeldman I think the TimeoutException that takes down the process is not this TimeoutException but another one somewhere. I added unhandled exception & task tracing at appdomain level to hopefully figure out where it comes from when it happens again.

[2016-07-08 08:44] yvesgoeleven opened #277 "Implement recoverability seem"
A new part of the transport seem will be introcuded, which allows native recoverability features (FLR counter)

Instead of core deciding when the error behavior should kick in, this task is delegated to the transport But the core still decides how it's done (send to errorQ, SLR logic etc...).

In order to get this behavior  an OnError callback will be introduced that transport needs to invoke when

[2016-07-10 14:45] abombss commented on #273
We get these all the time, would love to see what you uncover, we have yet to get a good diagnostic.

[2016-07-14 15:05] melkio opened #278 "Can't set custom implementation of IConvertBrokeredMessagesToIncomingMessages and IConvertOutgoingMessagesToBrokeredMessages"
It's not possible to provide a custom implementation of `IConvertBrokeredMessagesToIncomingMessages` or `IConvertOutgoingMessagesToBrokeredMessages` through configuration API.

Topologies register default implementations directly into the container.

[2016-07-16 09:07] SeanFeldman commented on #277
@melkio could you please update the issue with the details from the sync with the TF? Thank you.

[2016-07-20 21:32] SeanFeldman commented on #278
For the future, would be nice to set some context in addition to the subject. As a reviewer, I saw a solution to a problem, but wasn't sure what the problem was or what triggered it. :smiley:

[2016-07-21 20:08] melkio commented on #278
@SeanFeldman description updated.
This issue belong to the same "category" of the other issues we discovered writing the doco: transport doesn't provide some "extensibility points" to configure custom components or it doesn't configure properly provided custom components implementations.

[2016-07-21 22:03] melkio commented on #277
It's not right. Transport has to invoke _OnError_ callback each time a message fails. Core handles the retry count exceeded scenario.

_OnError_ callback output could be:

- `Handled`: transport has to acknowledge the message
- `RetryRequired`: transport has to abandon the message and retry later

/ @tmasternak @danielmarbach

[2016-07-21 22:18] melkio opened #282 "Don't use ReadOnlySettings at runtime"
Taskforce: @danielmarbach @seanfeldman
## Original issue raised by @melkio

Transport shouldn't use `ReadOnlySettings` at "runtime". It should read settings and configure components passing raw values into constructor (or somewhere else).
This approach should be better for two reasons:
- avoid _boxing/unboxing_ with `ValueType`: `settings.Get<bool>(...)` invocation is casting `object` stored into

[2016-07-21 22:30] melkio opened #283 "ICreateQueues implementation doesn't use queueBindings provided value"
`TransportResourcesCreator.CreateQueueIfNecessary` receives `QueueBindings` as first parameter with all needed info about resource names to create, but this implementation doesn't pass this value to `ITopologySectionManager` dependency.

`ITopologySectionManager` implementations use `EndpointName` from settings as input queue name

[2016-07-21 22:39] melkio opened #284 "MessagePump ignores TransportTransactionMode provided by PushSettings parameter"
`MessagePump.Init` receives `PushSettings` parameter that contains `TransportTransactionMode`, but it seems `MessagePump` ignores it.

Transport checks configured `TransportTransactionMode` value during [infrastructure initialization phase](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/release-7.0.0/src/Transport/Config/AzureServiceBusTransport.cs#L43)

/ @danielmarbach

[2016-07-22 19:41] yvesgoeleven commented on #284
Correct, this is intentional.... our supported transaction mode is not static, but depends on user settings

[2016-07-22 19:44] yvesgoeleven commented on #283
What is in the QueueBindings? What are we supposed to do with it?

[2016-07-22 19:46] yvesgoeleven commented on #282
I don't understand. Configuration API fills up this structure only, why should we not be allowed to use it? Are we supposed to copy everything over to some other structure?

[2016-07-22 21:31] danielmarbach commented on #284
Can you explain that? So you allow to override it per pump?

On Friday, July 22, 2016, Yves Goeleven <notifications@github.com> wrote:

[2016-07-22 21:41] danielmarbach commented on #282
The settings API is a composition level API only. The design is the following:

After a certain point in the bootstrapping phase, the settings holder gets locked for modifications. Then the features get invoked. You get the settings holder as a segregated interface called `ReadOnlySettings`. Those settings are meant to be transferred to custom structure, bool flags, value types of any sorts. Like

[2016-07-23 08:28] yvesgoeleven commented on #282
So you suggest we read all settings that we may need from the ReadOnlySettings object once and store them somewhere else (class fields, or some other structure)

[2016-07-23 08:48] yvesgoeleven commented on #284
@danielmarbach Remember that there is no real transactions in azure? Transactionality is achieved by turning on/off certain features on the ASB SDK. So we need to match the supported transaction mode with the user's explicit settings, and change the implicit settings to the requested transactionmode.

aka the supported (maximum) transactionmode is lowered from SendAtomicWithReceive to ReceiveOnly

[2016-07-23 20:24] SeanFeldman commented on #283
`QueueBinding` is another core concept introduced in v6, but never documented.

`ITopologySectionManager` is using `settings.EndpointName()` to determine endpoint`s name.  We do it this way because `QueueBinding`s passed into `TransportResourcesCreator` have `ReceivingAddresses` and `SendingAddresses` collections of strings. For receiving addresses, `string` is not enough to determine endpoint`s i

[2016-07-24 11:09] SeanFeldman commented on #283
Additional question, what is `identity` argument passed into `ICreateQueues.CreateQueueIfNecessary`. It's not used anywhere, unlike `QueueBindings` that is eventually used.

[2016-07-25 07:46] SeanFeldman opened #287 "ICreateQueues implementation doesn't use identity passed by core"
As part of issue #283, it was identified that in addition to `QueueBinding`s, there's also an `identity` argument passed into `ICreateQueues.CreateQueueIfNecessary`. It's not used anywhere.

1. What's the purpose of this argument?
1. Does ASB transport miss something by not using it?

@Particular/nservicebus-maintainers could please someone help us with identifying the purpose of `identity`? Thank

[2016-07-25 07:47] SeanFeldman commented on #283
Separate issue (#287) opened for the `identity`.

[2016-07-25 08:15] SeanFeldman commented on #283
Resolved via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/18aca9f239803481abac23ce736048b9fab2cc89

[2016-07-25 08:15] #283 closed

[2016-07-25 09:13] SeanFeldman commented on #278
Fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/3d42faf51ff63253e6636f6455cc6236b6c6adb9

[2016-07-25 09:13] #278 closed

[2016-07-25 09:13] danielmarbach opened #288 "Default: Move dead letters to centralized error queue"
By default the platform and all transports move messages that failed during Immediate and Delayed Retries to the centralized error queue. This should be the default for ASB v7 as well for "dead lettered messages". I recommend we make that behavior the standard behavior. Document the behavior breaking change in the upgrade guide and allow users to opt-out from that behavior.

[2016-07-25 09:13] danielmarbach commented on #288
// cc @SeanFeldman

[2016-07-25 09:26] danielmarbach commented on #287
The core passes `WindowsIdentity.GetCurrent().Name`. Does that mean anything in the context of the cloud? I doubt so.

[2016-07-25 09:39] SeanFeldman commented on #287
@danielmarbach doubt it will :)
Constructive feedback for the core - to provide that information in the xmldoc.
The current xmldoc says:

[code]

Thank you for clarifying this. Closing issue as we don't need the identity.

[2016-07-25 09:39] #287 closed

[2016-07-25 09:40] SeanFeldman commented on #287
/cc @Particular/nservicebus-maintainers comment

[2016-07-25 09:47] SeanFeldman commented on #288
@danielmarbach all errors are sent to the single error queue defined by the core. The deadlettered messages are the ones that are not moved to the cetralized error queue. Just to be clear, we're talking about moving DLQed messages to the centralized error queue as well. Is this correct?

[2016-07-25 09:48] danielmarbach commented on #288
yes correct. Feel free to reword a bit

[2016-07-25 09:49] danielmarbach commented on #288
Changed it slightly

[2016-07-25 12:46] yvesgoeleven commented on #288
We should set forwarding on the dlq then

[2016-07-25 13:53] yvesgoeleven commented on #277
@melkio core handlers the retry count exceeded scenario: but we do have control on the number used (last parameter on ErrorContext), that's what we need

[2016-07-26 11:41] yvesgoeleven opened #291 "Review ICanMapNamespaceNameToConnectionString"
It seems to be unused now

[2016-07-26 15:02] danielmarbach opened #292 "When_receiving_a_message_with_unknown_transport_encoding done condition"
The core ATT framework tries to evaluate the done condition of an AT every one millisecond. The done condition is supposed to only check the context. No heavylifting should be done in there. `When_receiving_a_message_with_unknown_transport_encoding` creates a receive infrastructure and does a "blocking" receive on the deadletter queue. Essentially deadlocking the done condition checks. This test s

[2016-07-26 15:05] ramonsmits commented on #270
@SeanFeldman @yvesgoeleven What is the status of this? The PR is merged so can this issue be closed? Also, neither this issue nor the PR has a milestone set. Is the release that contains this PR already pushed as a new beta to Nuget.org?

[2016-07-26 15:48] yvesgoeleven commented on #270
@ramonsmits ValidateAndHashIfNeeded now properly sets the defaults, but you still need to set ValidateAndHashIfNeeded to get the behavior you want. This is indeed released as beta

[2016-07-26 15:48] #270 closed

[2016-07-27 10:43] yvesgoeleven commented on #288
We can not default this because of the cross namespace limit, but users could set up a central queue per namespace and forward to that (doco issue to be created for this https://github.com/Particular/docs.particular.net/issues/1446)

[2016-07-27 15:42] #288 closed

[2016-08-01 14:52] yvesgoeleven commented on #291
ICanMapNamespaceNameToConnectionString  can just go imo

There is ICanMapConnectionStringToNamespaceName which is applied unconditionally to incoming headers

Destination address mapping happens implicitly by the way that message senders & namespace managers are indexed

The only header that can contain connectionstring or name is the reply to header, but this one has to follow the rules of the re

[2016-08-01 20:31] SeanFeldman commented on #246
@danielHalan have you had this issue since again?

[2016-08-01 20:43] SeanFeldman commented on #292
Endpoint name is created using [`Conventions.EndpointNamingConventions`](https://github.com/Particular/NServiceBus/blob/09c94279a068ea0282c5d7bead34badd870d080b/src/NServiceBus.AcceptanceTesting/Customization/Conventions.cs#L6) func.

[2016-08-01 21:01] SeanFeldman commented on #292
@danielmarbach the approach with a spy won't work. The spy is leveraging NSB endpoint to receive a message. In this case, message is poisonous and cannot be handled by the transport. The only option I see here is to have some sort of native processing that would need to have access to the `Context`.

[2016-08-02 21:06] SeanFeldman commented on #292
fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/e74bdf5cf5cd68e3e843ddad1d69b05373076e12

[2016-08-02 21:06] #292 closed

[2016-08-05 13:32] SeanFeldman commented on #246
@danielHalan I'm going to close this one. In case this issue arises again, please re-open.

[2016-08-05 14:04] #284 closed

[2016-08-05 14:05] SeanFeldman commented on #277
Closed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/1a6070e83b894090508d2178324c3af9d71ae101

[2016-08-05 14:05] #277 closed

[2016-08-05 14:15] SeanFeldman commented on #155
With the new [error seam](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/277) `DeliveryCount` is taken into consideration for FLRs. This will minimise the chances for a message to be DLQed compared to the current production version of NSB.ASB (before the `DeliveryCount` was not taken into consideration by NSB core). Saying that, there's still a potential for deadletting a message

[2016-08-05 14:15] #155 closed

[2016-08-05 14:17] SeanFeldman commented on #82
Fixed by the [new seam](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/277).

[2016-08-05 14:17] #82 closed

[2016-08-05 14:20] SeanFeldman commented on #82
@abombss forwarding from DLQs is also possible now, but not enabled by default. [Documentation](https://github.com/Particular/docs.particular.net/issues/1446) to come soon.

[2016-08-05 14:21] SeanFeldman commented on #39
Fixed in the new topology (`ForwardingTopology`).
I'll close the issue. Please re-open if needed.

[2016-08-05 14:21] #39 closed

[2016-08-05 14:22] SeanFeldman commented on #11
Implemented with the new seam.

[2016-08-05 14:22] #11 closed

[2016-08-05 14:26] #246 closed

[2016-08-09 07:10] yvesgoeleven opened #300 "Backport 'secure connectionstrings'"
Investigate if the secure connectionstrings can be implemented somehow in the previous major, ~~so that SC can use it.~~

This will allows users to incrementally upgrade from v5 to v6

**UPDATE**

We can enable v6 of the transport to work with secured connection strings coming from endpoints using v7 transport. The change would require mapping registration similar to to v7. We would _only_ map fro

[2016-08-09 21:57] johnsimons commented on #300
I would go to say that this needs to be done before the v7 release.
Without it the platform is broken!

[2016-08-17 07:43] andreasohlund commented on #300
Decription updated to reflect that SC isn't affected.

@Particular/azure-storage-queues-maintainers should a similar issue be raised for ASQ?

[2016-08-17 14:58] SeanFeldman commented on #300
Should we still consider this change (for asb 6.5.0)?

[2016-08-17 18:51] SeanFeldman commented on #263
fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/635c27c2c3f369ed083fab6feb601b3ae9292f86

[2016-08-17 18:51] #263 closed

[2016-08-17 18:59] SeanFeldman commented on #300
@Particular/azure-service-bus-maintainers I suggest we move forward with this under maintainers budget.

[2016-08-18 08:35] Scooletz commented on #300
The secure connection strings feature, is it an opt-in as in ASQ?
Should @Particular/azure-storage-queues-maintainers consider this as well then?

[2016-08-18 23:57] SeanFeldman commented on #300
@Scooletz it should be an opt-in for both, ASQ and ASB

[2016-08-22 06:39] SeanFeldman commented on #300
@Particular/azure-service-bus-maintainers Please have a look at [release-6.5 branch](https://github.com/Particular/NServiceBus.AzureServiceBus/tree/release-6.5). This should allow us to support messages with secured connection strings coming from endpoints using v7.

[2016-08-22 06:42] SeanFeldman commented on #300
We could release it along with v7 beta to allow customers to use it in their test drives.

[2016-08-22 13:48] SeanFeldman commented on #300
After talking to @yvesgoeleven about this, we've concluded that the expected behaviour on v7 transport for secure connection strings will be conceptually broken if v6 transport will be able to reply w/o securing connection strings. Therefore options are:

1. Instruct users to upgrade from upgrade from NSB v5 (transport v6) endpoints to NSB v6 (transport v7).
1. Release a new build of transport v5

[2016-08-22 14:29] SeanFeldman opened #304 "Update Secure Connection Strings API to remove confusion"
Rename from secure connection strings to Connection Strings Aliases.

[code]

to become

[code]

This will also affect API for multiple namespaces feature

[code]

to become

[code]

and all the internal implementation names from "name" to "alias"

**PoA**

1. [x] Update API PR #310
1. [x] Update documentation [PR 1806](https://github.com/Particular/docs.particular.net/pull/1806)
 - [x] [Securing

[2016-08-22 20:25] #300 closed

[2016-08-22 22:17] jpv001 opened #305 "Long running idle endpoints throw Messaging exceptions"
The endpoints were started on Friday morning and sat idle over the weekend. All of the endpoints in the screen shot have the same exception, some of them once, some twice and some not at all. The exception also occurred at different times for each endpoint, some on the Saturday, some on Monday

Seven of the thirteen endpoints threw the following exception at some point over the last 3 days. The en

[2016-08-23 03:19] SeanFeldman commented on #305
@jpv001 could you please provide some extra information?

1. Did endpoints continue processing after this exception was logged?
1. Do all these endpoints utilise the same namespace or multiple namespaces?
  1 . What region(s) are you using for this test?

This is an internal Service Bus exception, but if endpoints did not shut down, that means endpoint could recover from the exception. We'll need

[2016-08-23 03:27] jpv001 commented on #305
1. The endpoints themselves do not crash, they will still process messages and behave normally, they don't require a restart to operate normally following this exception. The exception simply appears in the logs / on the console and the endpoint continues to behave normally.
2. All of these endpoints are in different namespaces.
3. We're using the Australia South East Azure region.

If you need an

[2016-08-23 06:53] yvesgoeleven commented on #305
@jpv001 the exception indicates that the ServiceBus service had some internal problems, there's not much we can do about it besides what we currently do (logging the problem, backing off a bit and then reconnect). Do you suggest that we should do something differently?

[2016-08-23 07:15] jpv001 commented on #305
As the endpoint still functions this isn't a critical issue, but rather an anomaly in the logs that should be reported upon to make sure it wasn't anything more serious, especially considering we're using the beta. I'm happy to close this if it's a known issue and there is little that can be done about it.

[2016-08-23 07:47] yvesgoeleven commented on #305
@jpv001 in this case there is no real problem, it's just a temporary hickup in ASB itself. We log the entire exception, but the most important part is the tracking id so that you as a customer could use that to send to azure support in order to figure out what is going on when the problem would persist. Would it make more sense if we did not log the entire stacktrace, but only the section with the

[2016-08-23 07:59] jpv001 commented on #305
I'm always in favour of providing more information with an exception rather than less, I think removing the stack trace may create some additional work when trying to trace down the issue through the solution. At least this way you can see where things went wrong and ask the right questions in the right repo, without the stack trace this would look like a core NSB failure rather than a ASB one. If

[2016-08-23 08:07] yvesgoeleven commented on #305
@jpv001 we'll leave it as is then, the exception message comes from ASB it contains little information to determine client side what actually happened. I'll close the issue

[2016-08-23 08:07] #305 closed

[2016-08-23 08:11] yvesgoeleven commented on #11
links to https://github.com/Particular/NServiceBus/issues/3354

[2016-08-23 08:57] andreasohlund commented on #11
Should this be attached to the v7 milestone?

[2016-08-23 22:16] SeanFeldman opened #306 "Allow AMQP protocol"
With ASB v3 the default communication protocol is AMQP and not SBMP.
[Documentation](https://azure.microsoft.com/en-us/documentation/articles/service-bus-amqp-protocol-guide/) says:

## Current state of things

There's no API to change transport type and current implementation defaults to SBMP.
Currently we're telling customers that they can change connectivity mode by using connection string and

[2016-08-24 05:31] SeanFeldman commented on #306
Quick validation:

[code]

results in

[code]

[2016-08-24 14:17] SeanFeldman commented on #306
Setting transport type to AMQP is [currently breaking](https://builds.particular.net/project.html?projectId=NServiceBusAzure_NServiceBusAzureServiceBus&branch_NServiceBusAzure_NServiceBusAzureServiceBus=307) and we'll need to investigate to find out what's happening.

[2016-08-24 17:02] SeanFeldman commented on #304
Side note: another reason to call it an alias is because we're overloading the term "namespace name". ASB namespace connection string has a part (which we expose) named namespace name as well :)

[2016-08-24 17:34] SeanFeldman opened #308 "Delivery count to respect Immediate retries and user settings"
## Description

Before the new retries seam implementation, retries feature did not respect the native `DeliveryCount`.
NSB.ASB is setting the default value to [10 and we expect customers to adjust it](http://docs.particular.net/nservicebus/azure-service-bus/configuration/full#controlling-entities-queues) according to what is configured with Immediate and Delayed retries.

With the new seam in pla

[2016-08-24 19:43] SeanFeldman opened #309 "Reply-To header is not set correctly when using namespace aliases"
## Description

When the transport is instructed to replace namespace connections strings, `reply-to` header should be populated with alias and not the connection string. [`DefaultBatchedOperationsToBrokeredMessagesConverter`](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/release-7.0.0/src/Transport/Sending/DefaultBatchedOperationsToBrokeredMessagesConverter.cs#L81) does the oppos

[2016-08-25 17:11] SeanFeldman commented on #306
Question: if we implement support to switch to AMQP _and_ decide to set it as a default, wouldn't that require a new major? And if so, would we want to get in in NSB v6 round or it doesn't matter and we can release it as transport vNext rather than v7?

[2016-08-25 17:14] SeanFeldman commented on #306
PS: assuming public API and behaviour of the transport is not going to change.

[2016-08-26 09:11] yvesgoeleven commented on #306
AMQP doesn't support transactions/sendvia, so we should not default to it. I'll make sure the supported tx mode is lowered if AMQP is enabled explicitly by the user

[2016-08-26 09:23] #309 closed

[2016-08-26 09:23] #291 closed

[2016-08-26 13:25] SeanFeldman commented on #306
So there no feature parity? Need to verify as ASB team claims there is.

[2016-08-26 19:12] SeanFeldman opened #313 "AMQP performance"
As part of the ["Allow AMQP protocol"](#306) issue, it became apparent that when AMQP was used, performance has degraded significantly . This requires investigation.
## Plan
- [ ] Investigate performance degradation with MSFT
- ~~Change default to AMQP _if_ performance issue is addressed~~

[2016-08-26 21:09] #304 closed

[2016-08-29 13:48] ramonsmits opened #314 "Performance drop somewhere in last few beta versions"
Since August 19th performance for a test has severely degraded. These are the numbers of the Azure test environment but a similar degradation is visible when running the tests locally ().

![image](https://cloud.githubusercontent.com/assets/152998/18052559/5e35d2ac-6dfb-11e6-9acf-3fb1d792fe5e.png)

Source:

* http://deploy.particular.net:8000/en-US/app/search/transports_fixture?form.transport_kind

[2016-08-29 13:51] andreasohlund commented on #314
@Particular/azure-service-bus-maintainers could this be the atomic sends with receive change?

@ramonsmits have you done any testing of the `ReceiveOnly` mode?

[2016-08-29 14:07] yvesgoeleven commented on #314
@ramonsmits @andreasohlund yes that could be, we had to drop batched completion as we noticed that send via feature wasn't really working properly... ReceiveOnly still does batched completion

[2016-08-29 14:11] andreasohlund commented on #314
@ramonsmits can you confirm that ReceiveOnly tests still perform well? (just to narrow this down)

[2016-08-29 14:16] WojcikMike commented on #314
@andreasohlund there is no TransactionMode being set so it runs on default. The only change from test perspective is that on 19th of August:
https://github.com/Particular/EndToEnd/commit/cc06a07d9c17bc939f2291a590ff97bda4f0ef31#diff-4ba3206003888d01f27512edf29f4b3c

When it comes to the test ReceiveRunner it is the light green test on the diagram showing the biggest drop.

[2016-08-29 14:32] SeanFeldman commented on #314
@WojcikMike by default, a single namespace is used and other configurations that influence transport transaction mode are set to enable `SendsAtomicWithReceive`. Hence the default behaviour has changed, which is impacting the overall performance.

Would it be possible to run both tests, for `SendsAtomicWithReceive` and `ReceiveOnly`?

[2016-08-29 19:50] #306 closed

[2016-08-30 07:02] ramonsmits commented on #314
@andreasohlund @WojcikMike @SeanFeldman The scenarios has a send and a receive part. The duration of the whole affects the throughput calculation.

I can create a scenarios to test performance of SendsAtomicWithReceive and ReceiveOnly. Do you also want to test performance of these on the previous betas?

[2016-08-30 21:19] SeanFeldman commented on #314
@ramonsmits it would make sense to compare apples to apples (ie older versions with new).
Saying that, is there a chance we can collaborate on this?

[2016-09-01 07:07] SeanFeldman commented on #314
@ramonsmits any updates?

[2016-09-01 07:08] SeanFeldman commented on #308
@Particular/azure-service-bus-maintainers should we get this into RC?

[2016-09-01 11:32] ramonsmits opened #319 "Logging exception data should be done using the overload that allows passing the exception object"
The following lines result in log entries containing the complete stack trace because the exception is put into the log entry message using string interpolation:

- https://github.com/Particular/NServiceBus.AzureServiceBus/blob/release-7.0.0/src/Transport/Receiving/MessageReceiverNotifier.cs#L268
- https://github.com/Particular/NServiceBus.AzureServiceBus/blob/release-7.0.0/src/Transport/Receiving

[2016-09-02 04:46] SeanFeldman commented on #319
@ramonsmits first one is indeed a wrong thing to do. But other two links are not string interpolations...

we'll address this solution wide.

[2016-09-02 06:45] SeanFeldman opened #321 "GitVersion configuration"
GitVersion version 3.6.3 requires `GitVersion.yml` (`yml`, not `yaml`) with the following content:

[code]

Core has already applied that to [RC1](https://github.com/Particular/NServiceBus/blob/release-6.0.0/GitVersion.yml).  Should NSB.ASB do the same? /cc @danielmarbach

[2016-09-02 10:47] danielmarbach commented on #321
When you go to RC yes

[2016-09-02 17:16] SeanFeldman commented on #321
We're already in RC phase (RC1 right now) @danielmarbach.
I presume we could sleight it into RC2.

[2016-09-06 04:12] SeanFeldman commented on #319
@ramonsmits I've scanned the code and replaced the instances where exception was not logged properly.

[2016-09-06 04:12] #319 closed

[2016-09-06 04:15] SeanFeldman commented on #314
@ramonsmits do you still see a significant drop?

[2016-09-06 04:18] SeanFeldman commented on #9
How relevant this is with multiple namespaces being an option?

[2016-09-06 13:16] yvesgoeleven opened #322 "Wrong cache key used for message sender & receiver"
In the scenario that there are multiple active namespaces, forwarding topology was only selecting one of them and was sending all messages to that single namespace. Cause a wrong caching key on the message sender cache that did not take namespace into account.

[2016-09-06 13:20] yvesgoeleven opened #323 "Incoming reply header validation should not throw"
## stake in the ground

When a message comes in with an alias that we cannot map, we should not throw

https://github.com/Particular/NServiceBus.AzureServiceBus/blob/release-7.0.0/src/Transport/Topology/MetaModel/DefaultConnectionStringToNamespaceAliasMapper.cs#L32

That header is only used for replying, should still process the message

[2016-09-06 13:29] yvesgoeleven commented on #323
Maybe the sender should have set the correct alias

[2016-09-06 13:48] yvesgoeleven opened #325 "Forwarding topology should select topics from all active namespaces, not just 1"
In the scenario that there are multiple active namespaces, forwarding topology was only selecting one of them and was sending all messages to that single namespace. Cause a wrong caching key on the message sender cache that did not take namespace into account.

[2016-09-12 07:52] #325 closed

[2016-09-12 07:53] #322 closed

[2016-09-12 07:57] yvesgoeleven commented on #323
Both changes are in:
- The receiver is more relaxed on incoming aliasses that it does not know about (this can happen when f.e. one endpoint chooses to use multiple namespaces and names them accordingly, while another only uses one of them leveraging the Connectionstring() overload which would use the default alias)
- The sender is now more intelligent about choosing the reply to namespace. if the

[2016-09-12 07:57] #323 closed

[2016-09-13 13:23] #321 closed

[2016-09-16 11:15] carlbm opened #329 "Message processed multiple times when sending from a SendOnly endpoint"
When a message is sent from a send only endpoint the handler is invoked multiple times. There is no limit to the number of times the handler is invoked (the first line of the stack trace would suggest otherwise, but it's not the case), and it is invoked again immediately after it returns - I've only tested it with one message however, ignoring the immediate and delayed retry rules.

Here's the sta

[2016-09-16 11:31] yvesgoeleven commented on #329
@carlbm thank you for reporting this, I will look into it

[2016-09-16 12:18] carlbm commented on #329
This is for RC2 btw, and was not an issue in beta 12

[2016-09-16 12:33] yvesgoeleven commented on #329
Indeed, I can trace the problem back to my commit from 4 days ago https://github.com/Particular/NServiceBus.AzureServiceBus/commit/d627fc005e6c557b58056a43bbf8e02049df9209#diff-44dc3945b6f5e3209b43e0ceec050227R158

What happens in my opinion:
- the sender adds an empty reply to header to the message on the line above
- the receiver gets this message and sends something in response to it, which fai

[2016-09-16 13:34] yvesgoeleven opened #331 "Run Transport Tests as part of the build"
Issue https://github.com/Particular/NServiceBus.AzureServiceBus/issues/329 could have been avoided if the transport tests were part of the build process as it was actually showing there. Add a build step for the transport tests for each topology

[2016-09-16 19:16] SeanFeldman commented on #329
@carlbm we've released [NSB.ASB RC3](https://www.nuget.org/packages/NServiceBus.Azure.Transports.WindowsAzureServiceBus/7.0.0-rc0003). Please have a try to confirm it solves the issue for you.

[2016-09-16 19:35] #329 closed

[2016-09-19 05:29] SeanFeldman commented on #331
Implemented in TC. Acceptance tests and Transport tests are executed together.

[2016-09-19 05:29] #331 closed

[2016-09-19 05:30] SeanFeldman commented on #273
@yvesgoeleven how's Infinitest doing?

[2016-09-19 05:47] SeanFeldman commented on #314
@ramonsmits could you please update this issue? Thanks.

[2016-09-19 05:48] SeanFeldman commented on #308
@yvesgoeleven ping

[2016-09-19 07:08] yvesgoeleven commented on #308
@SeanFeldman did we miss this one? I think we can do it on maintainer budget, has no impact on api

[2016-09-19 16:27] SeanFeldman opened #332 "Performance issues with ConnectionString..ctor(String)"
A quick test (sending 100 messages) shows that from the total execution time of 421 ms, sender spends 72 ms on regex operations performed by `ConnectionString` ctor. Roughly 28% of the execution time.
![image](https://cloud.githubusercontent.com/assets/1309622/18639999/62188e38-7e53-11e6-9d2c-6edaed036d0f.png)

Potential offenders:
- [ctor](https://github.com/Particular/NServiceBus.AzureServiceBus

[2016-09-20 04:07] SeanFeldman commented on #308
Question: When an entity is created, we set the `MaxDeliveryCount` with the [default value](http://docs.particular.net/nservicebus/azure-service-bus/retries#first-level-retries-vs-maxdeliverycount). If we are switching to using `NumberOfImmediateRetries` would this be an issue when an endpoint code redeployed and immediate retries are changing, causing `MaxDeliveryCount` of already existing entiti

[2016-09-20 08:44] yvesgoeleven commented on #308
1. I don't think this is a problem
2. I don't know, it really depends on the consumer of the audit & error queues. Can we use the default for queues that we're not going to consume from instead?

[2016-09-20 16:43] andreasohlund commented on #308
Using defaults for non shared queues like audit/error sounds resonable to me. It this something that SC should care about thought? (Since sc will consume from it?)

[2016-09-20 16:51] SeanFeldman commented on #308
@andreasohlund "non shared"? I thought `audit` and `error` queues are shared by multiple endpoints.

We could apply defaults for those queues, but question is how to know what those queues are? `ICreateQueues` gets `QueueBindings`, and names (`queueBindings.SendingAddresses`) won't necessarily indicate if a queue is an error/audit queue or not.

[2016-09-20 16:54] andreasohlund commented on #308
My bad, should be shared, edited

[2016-09-20 17:09] SeanFeldman commented on #245
Closing this as we're done with RC and working towards RTM.

[2016-09-20 17:09] #245 closed

[2016-09-20 17:10] SeanFeldman opened #334 "V7 RTM"
## Items to complete

- ~~Change package author name -> use updated NugetPackager https://github.com/Particular/V6Launch/issues/4~~ not needed
- ~~[Performance issues with ConnectionString..ctor(String)](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/332)~~ not critical, can wait
- [x] [Delivery count to respect Immediate retries and user settings](https://github.com/Particular/N

[2016-09-20 17:23] SeanFeldman commented on #334
@Particular/azure-service-bus-maintainers anything missing here?

[2016-09-20 18:01] SeanFeldman commented on #308
I was wrong about `QueueBindings.SendingAddresses` (thank you @andreasohlund for clarification).

Let me try to sum it up:
- `QueueBindings.SendingAddresses` will always contain the shared queue names.
- `QueueBindings.SendingAddresses` will contain dedicated (other endpoints) names it sends messages to
- ErrorQ and AuditQ values can be retrieved from the settings as @andreasohlund pointed out. `s

[2016-09-20 18:01] SeanFeldman opened #335 "Produce scripts to generate system queues"
## Problem description

Part of the discussion in issue #308 (Delivery count to respect Immediate retries and user settings), brought up the issue with how resources are created by an executing endpoint.

`TransportResourcesCreator` is creating the resources needed for an executing endpoint.
`ForwardingTopologySectionManager` is used to determine what resources need to be created. When it does so,

[2016-09-20 18:09] SeanFeldman commented on #335
@Particular/azure-service-bus-maintainers please chime in.
/cc @andreasohlund

[2016-09-20 18:09] yvesgoeleven commented on #335
I thought we changed our mind about creating audit & error, as it improves first time user experience if they are created automatically? We should indeed watch out with settings on those

[2016-09-20 18:21] ramonsmits opened #336 "Excessive INFO logging of NServiceBus.Azure.Transports.WindowsAzureServiceBus.AzureServiceBusQueueCreator"
For some reason the following is logged a lot:
[code]

Either there is something wrong but if this is 'normal' then the log level should not be INFO but DEBUG.

## References

- https://builds.particular.net/repository/download/PerfTests_DeployAndRun/187850:id/perftests/%40/Performance/TransactionModesFixture/GatedSendLocalRunner/V5~AzureServiceBus~None~/trace.log
- https://builds.particular.net/r

[2016-09-20 18:25] andreasohlund commented on #335
Yes we currently create those to enable a good F5 experience. Going forwards, in in future majors, I hope we can move to a model where F5 is handled by development transport + development persistence and for the "real" transports we instead provide guidance and scripts that shows users how to set this up for their production environments since having all the endpoints create those queues concurren

[2016-09-20 18:26] ramonsmits commented on #17
Seems that this is not completely addressed.

Logger NServiceBus.Azure.Transports.WindowsAzureServiceBus.AzureServiceBusDequeueStrategy seems to be writing the connection string which should not be happening:

[code]

[2016-09-20 18:26] yvesgoeleven commented on #336
It is normal, and that log exists in prior versions as well, but maybe we should remove the log statement, not the first time someone complains about it (or interprets it wrong)

[2016-09-20 18:27] yvesgoeleven commented on #17
@ramonsmits this is fixed in v7, we can't fix it in v6

[2016-09-20 18:28] ramonsmits commented on #17
You are right @yvesgoeleven , I was looking at log files of NServiceBus V5....

[2016-09-20 18:28] #17 closed

[2016-09-20 18:30] SeanFeldman commented on #336
I don't like dropping those longs. Rather reword the message if it's not clear, but let know what's going on.

[2016-09-20 18:31] yvesgoeleven commented on #335
@andreasohlund we don't need to run as admin to create queues, but we do need a connectionstring with manage accounts. We test the connectionstring to see if the demand to create queues matches up with the connectionstring claims and report if we don't hav sufficients rights.

[2016-09-20 18:31] SeanFeldman commented on #336
All those logs are V5? Is that old logs we're looking at @ramonsmits ?

[2016-09-20 18:31] ramonsmits commented on #336
Sorry, this is also based on V5 logging. Had this discussion some time ago with @SeanFeldman and that would be a 'breaking' change. AFAIK this isn't happening in this excess with V6.

[2016-09-20 18:32] yvesgoeleven commented on #335
@andreasohlund but I'm right that for this version we need to create the audit & error queue, right?

[2016-09-20 18:33] ramonsmits commented on #336
Closing this including a logging filter for NLog which prevents the excessive logging:

[code]

[2016-09-20 18:33] #336 closed

[2016-09-20 18:34] andreasohlund commented on #335
Does this conflict with "security best practises" for ASB in general?

Correct!

[2016-09-20 18:36] SeanFeldman commented on #335
Let's focus on the question for V7 of ASB (NSB v6): should or should not create Audit and Error queues: the answer I hear is "YES". Design moving forward is in the future, we need to address #308 first.

If that's the consensus, then:

1. An executing endpont can (and will) create shared queues.
1. An executing endpoint should *not* create other endpoints queues

[2016-09-20 18:40] yvesgoeleven commented on #335
@SeanFeldman correct, but that's what we do (I've been ensured that only error & audit are in queuebindings)

@andreasohlund we can run fine with a limited account as well, user just has to turn create queues off.

[2016-09-20 18:45] SeanFeldman commented on #335
@andreasohlund could you please comment on

[2016-09-20 23:09] SeanFeldman commented on #308
Trying to find documentation on QueueBinding, stumbled upon a [sample](https://docs.particular.net/samples/custom-transport/#transport-implementation-queuecreation) that shows that `queueBindings.SendingAddresses` should be used to create queues...

[2016-09-20 23:10] SeanFeldman commented on #335
Trying to find documentation on QueueBinding, stumbled upon a [sample](https://docs.particular.net/samples/custom-transport/#transport-implementation-queuecreation) that shows that `queueBindings.SendingAddresses` should be used to create queues...

[2016-09-21 06:26] andreasohlund commented on #335
I'd say if a feature add this it's to be considered a "system queue" just like error+audit so we should create that one as well.

In short: We should for now create all the queues not belonging to other endpoints just like you stated above 👍

[2016-09-21 13:25] ramonsmits opened #337 "ObjectDisposedException is thrown when shutting endpoint down"
## Who's affected

* Anyone using Azure Service Bus

## Symptoms

An exception `System.ObjectDisposedException` with message "Cannot access a disposed object." is thrown when endpoint is shutting down

## Original issue

Getting the following exception at endpoint shutdown with 7.0.0-rc0003, this doesnt seem to be happening with 7.0.0-beta0013

Object name: 'Microsoft.ServiceBus.Messaging.Sbmp.Red

[2016-09-21 15:35] SeanFeldman commented on #337
@ramonsmits could you provide steps to repro this?

[2016-09-21 16:13] SeanFeldman commented on #335
@andreasohlund "system queues" is a good replacement for "shared queues". ❤️ that.
I'll keep this issue opened as a Feature request and update the description.

[2016-09-21 19:40] ramonsmits commented on #337
@SeanFeldman Shutdown an endpoint while busy receiving/processing.

[2016-09-21 21:07] yvesgoeleven opened #338 "Allow to disable native deferral"
See https://twitter.com/tekmaven/status/776793287206248448 for more context

[2016-09-21 21:24] ramonsmits commented on #337
@SeanFeldman and I confirmed that RC2 and RC1 have shutdown issues too although different exceptions.

RC1:
[code]

[2016-09-21 22:30] SeanFeldman commented on #308
A few scenarios to think of:

1. A CPU intense endpoint with a prefetch that is too aggressive scenario. Delivery count on a message will be increased each time lock token is lost. Eventually it could surpass the `MaxDeliveryCount` set to the value of `NumberOfImmediateRtries`, causing message to **go to the DLQ w/o being processed**.  No different from what could have happened in the past. On a p

[2016-09-22 04:00] SeanFeldman opened #339 "V6 multiple invocations of GetConfiguration<T> in NamingConventions.QueueNamingConvention()"
Origin: [GG post](https://groups.google.com/forum/#!topic/particularsoftware/fruKUEz6QbA)

ASB `QueueAndTopicByEndpointTopology` topology is using conventions to validate and sanitise entity paths/names. When `QueueNamingConvention` func is invoked, it's calling `settings.GetConfigSection<AzureServiceBusQueueConfig>()` each time.

<details>
<summary>From the GG post</summary>
We have implemented a

[2016-09-22 04:01] SeanFeldman commented on #339
This has been fixed in V7.

[2016-09-22 06:49] SeanFeldman commented on #338
We're using `ScheduledEnqueueTimeUtc`. We can go one (and more) years with the value. that doesn't work @tekmaven ?

[2016-09-22 08:12] yvesgoeleven commented on #338
@SeanFeldman we can go on until the queue is filled up, that's @tekmaven's problem, the queue is full with future messages

[2016-09-22 13:55] ramonsmits opened #340 "Disable prefetching by default in combination with transaction mode none"
While talking about prefetching I was wondering what the behavior is during graceful shutdown specifically to this question:

- Are message that are already 'prefetched' but not yet processed still processed until the prefetch buffer/queue is depleted

If the answer is no and the customer is running with transaction mode 'None' than we have potential message loss during a 'graceful shutdown' even

[2016-09-22 13:57] yvesgoeleven commented on #340
@ramonsmits they will be gone, running in transaction mode none is very dangerous regardless of prefetch as stated in our docs. I'm ok with adding a warn statement (I'd rather see this mode gone completely)

[2016-09-22 14:22] SeanFeldman commented on #340
I wonder if we should automatically disable prefetching if mode is Receive-and-Delete

[2016-09-22 18:09] SeanFeldman commented on #338
Ah, ok. So it's not the setting when the message will show up, but having way too many messages to chew up the space on queue. Got it.

[2016-09-22 20:36] tekmaven commented on #338
The workaround I have right now (in v5) is to use a custom container, call this on startup:
[code]
and finally, configure the container to always return `TimeoutManagerDeferrer` when it resolves `IDeferMessages`.  This is all a little hacky, and even worse because `TimeoutManagerDeferrer` is not public.

[2016-09-23 02:14] SeanFeldman opened #342 "Decoupling endpoints from the physical queues and using topics"
The topologies we had so far (`EndpointOriented` and `Forwarding`) assume that an endpoint has to have an input queue known to other endpoints for sending messages. By having a designated queue per endpoint, we're losing the flexibility and the following abilities:
- Deduplication on the business message level
- Native message auditing / backup
- Wiretap
## De-duplication on the business message

[2016-09-23 04:20] #308 closed

[2016-09-23 08:15] yvesgoeleven opened #343 "ASB V6 Wrong exception message on Clock Drift"
As reported on the forums https://groups.google.com/forum/#!topic/particularsoftware/jw6CfDm48Gc, the exception "AzureServiceBusTopicSubscriptionManager can only be used in conjunction with windows azure servicebus, please configure the windows azure servicebus transport" is raised when the local clock is off by 30 seconds from the ASB server's clock. (V6 transport / V5 core)

NSB.ASB v6

Relates

[2016-09-26 16:14] bording commented on #340
An alternative would be to not actually use a Receive-and-Delete mode, which is what I ended up doing in Rabbit, for a number of reasons.

[2016-09-26 17:24] SeanFeldman commented on #340
What we'll do is disable prefetch by default with `ReceiveAndDelete`, but allow it to be configured through API if needed. While `ReceiveAndDelete` is dangerous, it does allow faster throughput and if loosing individual messages is not a problem, this mode can be helpful. Wherever it fits the overall NSB offer, is a different issue that should be discussed. [All transport support unreliable mode](

[2016-09-26 18:58] bording commented on #340
No, I wouldn't say that. We already document that we don't really do anything different for the two modes: https://docs.particular.net/nservicebus/rabbitmq/transactions-and-delivery-guarantees

[2016-09-26 21:53] SeanFeldman commented on #340
@ramonsmits please see the general description with update. Do you still think we should log a warning?

[2016-09-26 22:16] SeanFeldman opened #344 "transport.Transactions(TransportTransactionMode.None) doesn't set receive mode to ReceiveAndDelete"
Expectation would be to see to see receive mode (`WellKnownConfigurationKeys.Connectivity.MessageReceivers.ReceiveMode`) to be lowered to `ReceiveAndDelete`.

Also, is the logic of having the following API makes sense?

[code]

Is it expected that transaction mode will be lowered?

There seems to be a disconnect between receive mode and transport transaction mode.

[2016-09-26 22:57] SeanFeldman opened #345 "TransactionModeSettingsExtensions.SupportedTransactionMode() doesn't take into account TransportTransactionMode"
Core is setting `settings.Get<TransportTransactionMode>()` to be the required transaction mode that is not used in `TransactionModeSettingsExtensions.SupportedTransactionMode() `

[2016-09-27 02:28] HEskandari opened #347 "Sending messages in batch throws a TransactionSizeExceededException"
This is based on a case (00021184). Looks like we don't take message count when sending a batch. Here's the stack trace:

<details>
<summary>Exception details</summary>
2016-09-27 01:07:22.586 ERROR NServiceBus.Transport.AzureServiceBus.DefaultOutgoingBatchRouter Failed to dispatch a batch with the following message IDs: 20ba56ea-58c3-490e-aae0-c502cc3bc3f8, f192014c-b4eb-49bd-9047-7b119eb9c6c5, 0

[2016-09-27 03:41] SeanFeldman commented on #340
@ramonsmits log entry [added](https://github.com/Particular/NServiceBus.AzureServiceBus/pull/346/commits/1b9791bb5e5f775e45a437257b83b3a75d8c4888)

[2016-09-27 04:56] SeanFeldman commented on #347
I have a strong suspicion this has to do with a namespace. Need to confirm.

[2016-09-27 05:47] SeanFeldman commented on #347
When TransportTransactionMode is `SendsAtomicWithReceive`, ASB will not accept more than 100 operation in a single batch. @Particular/azure-service-bus-maintainers since we don't have control over batched operation coming from the handler, should we improve the exception or perform the check prior to making an attempt to send anything out?

[2016-09-27 07:28] SeanFeldman commented on #347
Updated the general description with more details.

[2016-09-27 07:30] SeanFeldman commented on #347
I have a PR to demonstrate the scenario: https://github.com/Particular/NServiceBus.AzureServiceBus/pull/348

[2016-09-27 08:18] yvesgoeleven commented on #347
Best thing to do is to catch this exception,  provide some guidance to either lower the batch size or lower the transaction mode, then rethrow

[2016-09-27 11:03] andreasohlund commented on #347
+1 to throw a better ex for now. Not sure if we can do anything from a core perspective in the future?

Ie not sure if the core checking some kind of `TransportDefinition.MaxSendBatchSize` value would be enough value compared to just give a better ex?

@Particular/sqlserver-transport-maintainers
@Particular/rabbitmq-transport-maintainers
@Particular/azure-storage-queues-maintainers

do you have si

[2016-09-27 11:29] carlbm commented on #347
Is there a way for me to set the batch size?

[2016-09-27 11:44] yvesgoeleven commented on #347
@carlbm Batch size can be controlled by MaximumMessageSizeInKilobytes (not in number yet), but in my opinion individual batch size is not really the problem, the number of total messages sent in the transaction is too large, even splitting it in smaller batches will not remove that problem as the transaction will unite them again.

[2016-09-27 12:58] ramonsmits commented on #339
I stumbled upon the same issue providing confiuratino via `IProvideConfiguration<AzureServiceBusQueueConfig>` and it seems to be called for every message received and/or send.

As this is not critical this can probably be closed as it is fixed in ASB V7?

[2016-09-27 16:09] bording commented on #347
@andreasohlund RabbitMQ doesn't have any batching capability at all, so we just send each message that comes in individually.

[2016-09-27 17:38] SeanFeldman commented on #339
Agreed.

[2016-09-27 17:38] #339 closed

[2016-09-27 19:14] boblangley commented on #343
The same issue was raised in https://eu1.salesforce.com/console#%2F500D000001GzoBo%23500D000001GzoBo_RelatedCommentsList_target also.

[2016-09-27 19:20] SeanFeldman commented on #345
What was missing [utilization of the `ReceiveMode`](https://github.com/Particular/NServiceBus.AzureServiceBus/pull/346/commits/945d7c39d0c77976d3d690824af253a54747be63#diff-f630819b553d88e547573c94435f95bdR15).

Fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/pull/346/commits/945d7c39d0c77976d3d690824af253a54747be63

[2016-09-27 19:20] #345 closed

[2016-09-27 19:21] SeanFeldman commented on #344
Fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/pull/346/commits/945d7c39d0c77976d3d690824af253a54747be63.

TransactionModeSettingsExtensions.TransportTransactionMode did not used `ReceiveMode`.

[2016-09-27 19:21] #344 closed

[2016-09-28 07:14] tmasternak commented on #347
@andreasohlund SqlServer is not doing any batching yet. The limit is around ~64 MB depending on configuration of sql instance https://msdn.microsoft.com/en-us/library/ms143432.aspx

[2016-09-28 16:58] ramonsmits commented on #340
I think the concern is addressed so we can close this case @SeanFeldman

[2016-09-28 17:00] SeanFeldman commented on #340
Need to update doco first ([PoA section](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/340#issue-178616712)), and then will be able close this.

[2016-09-29 05:22] SeanFeldman commented on #340
Will go out with RC5

[2016-09-29 05:22] #340 closed

[2016-09-29 05:24] SeanFeldman commented on #347
Will be released with RC5

[2016-09-29 05:24] #347 closed

[2016-09-29 05:32] SeanFeldman commented on #314
@ramonsmits is this still an issue?

[2016-09-29 08:36] ramonsmits commented on #314
Performance tests on the Azure environment shows that SendsAtomicWithReceive performance is very bad.

Source: http://deploy.particular.net:8000/en-US/app/search/transports_fixture

In a receive test only got 3.1 msg/s on average. Based on earlier conversation with @yvesgoeleven on Slack I increased the maximum concurrency to 64 * logical cores which results in 512 on the Azure VM. The prefetch co

[2016-09-29 08:52] yvesgoeleven commented on #314
@ramonsmits I think you switched the settings, the ones applied to atomic should be the low ones, the ones for receive should be the high ones

[2016-09-29 09:02] ramonsmits commented on #337
While busy trying to write a response for #314 I noticed that this is more likely te happen when:

- Using SendsAtomicWithReceive
- Allow a large max concurrency and/or prefetch size

[2016-09-29 09:08] ramonsmits opened #350 "Multiple 'abandoning brokered message' while prefetch = 0 and max concurrency =1"
Configured a core V6 endpoint with max concurrency level of 1 and configured V7 with a prefetchsize = 0 and I didn't expect to see multiple *Abandoning brokered message* when shutting down.

I don't know if this is a bug or expected behavior.

[code]

[2016-09-29 17:05] SeanFeldman commented on #314
A few things wanted to highlight about how we go about performance:

1. ASB performance optimizations are not finalized. @Particular/azure-service-bus-maintainers are still discovering undocumented features/information as we go.
1. The definition of "bad" is relative. Considering that `SendsAtomicWithReceive` requires transaction to take place per message, will decrease the performance significant

[2016-09-29 17:16] SeanFeldman commented on #337
Could be resolved by #349

[2016-09-29 17:16] SeanFeldman commented on #334
@Particular/azure-service-bus-maintainers is there anything that would prevent us from marking ASB as RTM ready?

[2016-09-29 21:33] yvesgoeleven commented on #334
@SeanFeldman I don't think anything is preventing us to go live

[2016-09-29 21:37] SeanFeldman opened #352 "Outbox doesn't work with ASB transport"
## Who's affected

Anyone using Azure Service Bus transport in conjunction with the Outbox feature

## Symptoms

Handlers process messages and then NHibernate.Exceptions.GenericADOException is thrown with a message `could not execute query, System.ComponentModel.Win32Exception: The wait operation timed out`, eventually moving incoming messages into the error queue.

## Workaround

Set transport tr

[2016-09-29 21:44] SeanFeldman commented on #334
well, except [Outbox](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/352) 😺

[2016-09-29 23:35] #352 closed

[2016-09-30 07:26] jaldipp commented on #30
Hello friend,

I thought you  were interested in stuff like that, so probably that article would  be helpful to you, please  read it here <http://level.bendelbees.com/aeuofly>

Warmest, jaldipp

[2016-09-30 11:09] ramonsmits commented on #337
Not resolved by RC5.

[2016-10-03 22:47] SeanFeldman commented on #337
We've discussed this with @yvesgoeleven and are hesitating to catch the exception. When [`MessagePump.Stop()`](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/70beff9c426036fe37c62869c3c5603a09787010/src/Transport/Seam/MessagePump.cs#L102) is called, we [stop all receivers](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/70beff9c426036fe37c62869c3c5603a09787010/src/Tr

[2016-10-04 02:33] abombss commented on #342
Yes, this is the topology we have been running since v4 with customizations. Topics for all sends / publishes, queues only for consumption. It gives us lots of flexibility. Further the pattern can be simplified with a single inbox (queue) per endpoint and an outbox (Topic not to confuse terminology) for all sends. Routing is all done based on type / channel so no endpoint needs to know about the p

[2016-10-04 02:39] abombss commented on #332
I thought service bus sdk has a connection string builder / parser that you can pull the namespace from.
 https://msdn.microsoft.com/en-us/library/microsoft.servicebus.servicebusconnectionstringbuilder.aspx

[2016-10-04 06:36] SeanFeldman commented on #342
@abombss that's exactly what I had in mind. While operations such as sends will not be as performing as sends to queues directly (due to some expected latency on the broker), the benefits of having decoupling and additional features outweigh it.

[2016-10-04 06:38] SeanFeldman commented on #332
@abombss you're correct. We could have used
`ServiceBusConnectionStringBuilder`, but...

1. It doesn't always throw a meaningful exception in the context of the
transport (see example 1 below)
2. Fails to perform basic validation a namespace name should undergo (see
example 2 below)

**Example 1**

[code]
Will throw a vague exception:

[code]

**Example 2**

[code]

Will not throw even though name

[2016-10-05 22:36] SeanFeldman commented on #338
@tekmaven thinking out loud - the max queue size is 5 GB. If you have [partitioning enabled,](https://azure.microsoft.com/en-us/documentation/articles/service-bus-partitioning/#enable-partitioning) you multiply that by 16, in essence getting your queue size increased by 75 GB. Would that work for you?

[2016-10-07 07:49] yvesgoeleven commented on #332
This is in RC6

[2016-10-07 07:49] #332 closed

[2016-10-07 15:36] yvesgoeleven opened #358 "System.ArgumentException: The argument lockTokens is null or empty."
2016-10-07 15:16:08.1789|INFO|12|BaseRunner|Starting...
2016-10-07 15:16:08.1789|INFO|12|BaseRunner|Started
2016-10-07 15:16:08.1789|INFO|12|BaseRunner|Run: 00:01:24.4130000, please press SPACE to continue after
2016-10-07 15:17:32.6170|INFO|19|Statistics|ReceiveFirstLastDuration: -1.0 (s)
2016-10-07 15:17:32.6170|INFO|19|Statistics|NumberOfMessages: 0.0 (#)
2016-10-07 15:17:32.6170|INFO|19|Statis

[2016-10-10 07:20] ramonsmits commented on #352
@SeanFeldman What exactly is the cause of this? Is it because SendsAtomicWithReceive uses a TransactionScope? What happens when a user explicitly does `transport.Transactions(TransportTransactionMode.SendsAtomicWithReceive)` and enables outbox?

[2016-10-10 07:51] yvesgoeleven commented on #352
@ramonsmits personally haven't tested that yet, I'd assume outbox to throw an exception that you can't do that

[2016-10-10 09:56] ramonsmits opened #361 "NumberOfClientsPerEntity cannot be set to value higher then 64"
I tried to call `transport.NumberOfClientsPerEntity(80);` and got the following exception. I tried to see what the max possible value is and that is 64.

As the exception messages talks about " The specified value (0) is invalid." it probably results in some kind of overflow.

[code]

[2016-10-11 04:28] SeanFeldman commented on #352
@ramonsmits the cause was a bug in the transport resolved by PR. The core was setting a default setting, while the transport was looking for an [explicit override](https://github.com/Particular/NServiceBus.AzureServiceBus/pull/353/files#diff-abc21d576eebe5908bcca158905c4878R50).

[2016-10-11 04:35] SeanFeldman commented on #361
@ramonsmits what was the total concurrency limit? I suspect it's related to https://github.com/Particular/NServiceBus.AzureServiceBus/pull/357

[2016-10-11 06:14] ramonsmits commented on #361
@SeanFeldman max concurrency was 32 (4 *8 logical processors)

[2016-10-11 09:33] yvesgoeleven opened #362 "Change IManageMessageSenderLifeCycle & IManageMessageReceiverLifeCycle to return a task"
So that the inner `EntityClientEntry` can be turned into a task and awaited when used, instead of the `.GetAwaiter().GetResult()` calls in this method

Connects to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/587

[2016-10-11 10:49] ramonsmits commented on #337
@SeanFeldman I agree, if this is something the SDK goes we should not try to prevent this. However, it might be a good thing to then document this? Maybe even included the guidance to not restart an endpoint but to just create a new process as I think @yvesgoeleven calls the 'Azure way'.

[2016-10-11 11:10] yvesgoeleven commented on #337
@ramonsmits that is indeed a good idea, document it instead of trying to fix it

[2016-10-11 11:25] yvesgoeleven commented on #361
@ramonsmits I'm not seeing this on https://github.com/Particular/NServiceBus.AzureServiceBus/pull/357, so I assume its's the same issue

[2016-10-11 11:26] #361 closed

[2016-10-12 23:03] SeanFeldman opened #365 "Unclean transport shutdown where not all batched message completions are awaited"
## Who's affected

Anyone using Azure Service Bus transport version 7.0.0

## Symptoms

When shutting down, the transport is supposed to complete all messages in-flights within 30 seconds from shutdown request. When multiple receivers are used, only a single receiver is awaited, causing transport to close receiver connections w/o waiting for the rest of batched completion tasks to handle their wor

[2016-10-13 08:13] ottarhenanger opened #367 "The given key (AzureServiceBus.Connectivity.MessageReceivers.PrefetchCount) was not present"
Hi,
I've upgraded to version 7.0.0 (Release) of NServiceBus.Azure.Transports.WindowsAzureServiceBus.

Endpoint is configured as following:

  var transport = config.UseTransport<AzureServiceBusTransport>();
  transport.ConnectionString(serviceBusConnectionString);
  transport.UseTopology<ForwardingTopology>();
  transport.Sanitization().UseStrategy<Sha1Sanitization>();

Endpoint fail to start with

[2016-10-13 08:14] ottarhenanger opened #368 "The method 'OnMessage' or 'OnMessageAsync' has already been called"
Hi,
I've upgraded to version 7.0.0 (Release) of NServiceBus.Azure.Transports.WindowsAzureServiceBus.

Endpoint is configured as following:

 `var transport = config.UseTransport<AzureServiceBusTransport>();
  transport.ConnectionString(serviceBusConnectionString);
  transport.UseTopology<ForwardingTopology>();
  transport.Sanitization().UseStrategy<Sha1Sanitization>();`

When trying to start endpo

[2016-10-13 08:14] ottarhenanger commented on #368
After downgrading to version 7.0.0-rc0005 the problem is solved.
From my packages.config:

  <package id="NServiceBus" version="6.0.0" targetFramework="net461" />
  <package id="NServiceBus.Autofac" version="6.0.0" targetFramework="net461" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="7.0.0-rc0005" targetFramework="net461" />
  <package id="NServiceBus.Azure.Trans

[2016-10-13 12:19] danielmarbach commented on #365
@seanfeldman ha! Gotcha you didn't mention the people involved in this finding ;) (hehehe just playing back)

[2016-10-13 14:46] SeanFeldman commented on #365
@danielmarbach you're too quick. Was about to update it 😉

[2016-10-13 15:18] #365 closed

[2016-10-13 18:03] ramonsmits commented on #337
Testing 7.0.1, no ObjectDisposedException or NullReferenceException yet but do see the following exception during shutdown:

[code]

[2016-10-13 20:21] SeanFeldman opened #369 "LockTokens is null or empty exception on endpoint shutdown"
## Who's affected

Anyone using Azure Service Bus transport version 7.0.1

## Symptoms

`NullReferenceException` exception with message "The argument lockTokens is null or empty" thrown during shutdown:

<details>
<summary>Exception details</summary>
2016-10-13 18:00:18.1031|INFO|36|NServiceBus.Unicast.UnicastBus|Initiating shutdown.
2016-10-13 18:00:18.1031|INFO|36|NServiceBus.Transport.AzureServ

[2016-10-13 21:55] SeanFeldman commented on #369
@ramonsmits has identified the issue and was able to verify the fix as well.

[2016-10-13 22:09] SeanFeldman commented on #337
Argument exception is a different issue, #369 and fixed in PR #371.
`ObjectDisposedException` is being thrown in `messageReceiver.CloseAsync()` *after* code is awaited. Required more investigation.

[2016-10-13 22:32] SeanFeldman opened #372 "Performing BatchedCompletion task with concurrency more than one"
## Reasons for this discussion

- The discussion was triggered by code review @danielmarbach and myself did for `MessageReceiverNotifier` which resulted in hotfix-7.0.1 and fix of issue #365. When transport switched to multiple receivers, we were only awaiting for a single receiver, rather all of them when stopping notifier.
- Additional issue that was addressed, #369 working with @ramonsmits, whi

[2016-10-13 22:37] SeanFeldman commented on #367
@ottarhenanger any chance to provide a repro for this issue?

[2016-10-13 22:38] SeanFeldman commented on #337
The outcome of the discussion in #372 could potentially help with this issue as well.

[2016-10-13 22:41] SeanFeldman commented on #358
Addressed by #369

[2016-10-13 22:41] #358 closed

[2016-10-13 22:42] SeanFeldman commented on #338
@tekmaven have you tried the suggested above approach?
Also, could you please let us know how big are the future messages that 5GB is not enough. Would be good to understand the business need. Thank you.

[2016-10-13 22:56] #334 closed

[2016-10-13 22:56] SeanFeldman commented on #350
@ramonsmits is this still happening?

[2016-10-13 22:57] SeanFeldman commented on #314
@ramonsmits I believe this issue is addressed now. Shall we close it?

[2016-10-14 06:53] ramonsmits commented on #314
I think so, although our latest findings regarding configuring ASB for high throughput should be documented.

I checked https://github.com/Particular/NServiceBus.AzureServiceBus/blob/master/src/Transport/Config/DefaultConfigurationValues.cs and the defaults seem to be aligned.

[2016-10-14 07:24] SeanFeldman commented on #314
👍 @ramonsmits that is already taking place - @yvesgoeleven works on a sample/doco

[2016-10-14 07:24] #314 closed

[2016-10-14 08:54] ramonsmits opened #374 "Got 'PrefetchCount was reduced to zero...' while explicitly setting PrefetchCount"
Version: 7.0.1

I get this message even though I explicitly set prefetch value.

Not sure if prefetching is now even enabled.

[2016-10-14 08:57] ramonsmits commented on #374
There is also a typo in the message.

[2016-10-14 09:00] ramonsmits commented on #350
@SeanFeldman Can't seem to reproduce this anymore. Seems to be resolved by 7.0.1

[2016-10-14 09:00] #350 closed

[2016-10-14 09:10] yvesgoeleven commented on #374
@ramonsmits it is, we lower the default. but that should be reflected in the message, good catch

[2016-10-14 09:12] ramonsmits commented on #374
Mmm, there is something missing in the description. I got this message while I explicitly configured prefetching with the API.

[2016-10-14 09:16] yvesgoeleven commented on #368
Hi Ottar,

I'm unable to reproduce this situation here, using your config mentioned above, any chance you can send us a repro?

[2016-10-14 09:19] yvesgoeleven commented on #367
This is very weird, we do set a default value for this key

[2016-10-14 09:22] yvesgoeleven commented on #374
@ramonsmits indeed, I'll change it to be explicit about us changing default, not the setting itself

[2016-10-14 09:25] ramonsmits commented on #374
Not sure if I understand you.

I expected that I do not get this, that prefetching is enabled even though it can result in message loss. If we still set it to 0, then I expect an exception as I've explicitly configured that in the API.

[2016-10-14 09:32] yvesgoeleven commented on #374
@ramonsmits got it, I made it so https://github.com/Particular/NServiceBus.AzureServiceBus/pull/375

[2016-10-14 10:12] ottarhenanger commented on #367
Hi, I try to recreate the problem with an minimum project.

[2016-10-14 13:17] SeanFeldman commented on #367
@ottarhenanger I've tried to repro this issue, and couldn't. See my spike [here](https://github.com/SeanFeldman/Sample.ASP.Net.WebApi.With.NSB.ASB).

[2016-10-14 13:18] SeanFeldman commented on #368
@ottarhenanger I've tried to repro this issue, and couldn't. See my spike [here](https://github.com/SeanFeldman/Sample.ASP.Net.WebApi.With.NSB.ASB).

[2016-10-14 13:57] yvesgoeleven opened #376 "Review connectivity pool of Factories vs pool of Receivers"
Connects to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/587

[2016-10-14 13:59] #374 closed

[2016-10-14 14:27] SeanFeldman commented on #337
We should try to repro this with native ASB only.

[2016-10-14 14:39] #369 closed

[2016-10-14 23:58] SeanFeldman commented on #376
Factories usage has to be substantially reviewed considering the following:

- Senders vs receivers
- Number of message pumps know and possible
- Relationship between `MessagingFactory` and `MessageSender`/`Receiver`
- Reuse of factories/clients

At this point we know that [documentation](https://azure.microsoft.com/en-us/documentation/articles/service-bus-performance-improvements/#reusing-factori

[2016-10-15 00:07] SeanFeldman commented on #337
After a long session trying to chase the issue in ASB SDK with @bording, we found nothing wrong with the code. What became apparent, is that we had a design flaw in the transport - a set of factories was created for all the message pumps involved in an endpoint, and therefore factories were re-used. What happens is that `TopologyOperator` is closing receive notifiers _and_ factories. Since `Topolo

[2016-10-15 11:34] ottarhenanger commented on #368
@SeanFeldman I recreated the problem in my spike [here](https://github.com/ottarhenanger/ServiceFabricBusService.git).

- Current version in spike is using 7.0.0-rc005 of WindowAzureServiceBus transport and it will run without problems.
- If you upgrade to 7.0.0 (Release version) it will fail with error message reported in this issue.

The problem occurs when having more than one endpoint listener

[2016-10-16 22:33] SeanFeldman commented on #368
Thank you @ottarhenanger
The detail of co-hosting multiple endpoints using the same transport is probably the issue we're having. Let us review it and get back to you.

[2016-10-17 03:46] SeanFeldman commented on #367
Same issue as #368. Closing as a duplicate.

[2016-10-17 03:46] #367 closed

[2016-10-17 04:44] SeanFeldman commented on #368
@ottarhenanger looking at the code I see that you're starting two instances of `OwinCommunicationListener`, one on port 8574 and another one on port 8673. When you start each instance, you're going through the same Autofac container, which means you're re-running the passed in `Action<IAppBuilder> startup` code. Startup code is the one that registers the NSB endpoint. By doing so, you're creating

[2016-10-17 05:26] ottarhenanger commented on #368
I noticed that same yesterday and have refactored my code accordingly. What puzzled me was that this was working in 7.0.0-rc0005 but not in release version. Thanks for your assistance.

[2016-10-17 05:26] #368 closed

[2016-10-17 07:20] yvesgoeleven commented on #368
@ottarhenanger I can explain that, we fixed a bug in RC6 that would have hidden this exception. In rc5 we were assiging a pool of receivers, but only used one (wasting resources). When you started the same endpoint again, the code would just go to the next receiver and start using it. But after we fixed our bug, all receivers are already in use, so if you start it again they complain about already

[2016-10-17 09:05] ramonsmits opened #379 "Using AMQP results in MessageLockLostException"
## Who's affected

*  Anyone using Azure Service Bus with AMQP (transport type)

## Symptoms

* `MessageLockLostException` and `NullReferenceException` are thrown during endpoint shutdown

## Original issue

Configuring ASB to use AMQP with transaction mode ReceiveOnly results in a `MessageLockLostException`.

[code]

Besides this I got an `NullReferenceException` at endpoint shutdown

[code]

[2016-10-17 09:21] ramonsmits commented on #337
Additional ObjectDisposedException at different location:

[code]

[2016-10-17 09:28] ramonsmits commented on #337
It seems that that last exception results in shutdown to hang.

[2016-10-17 10:56] yvesgoeleven commented on #379
It seems to start whenever a second receiver is used transportConfiguration.NumberOfClientsPerEntity(2);, it works when transportConfiguration.NumberOfClientsPerEntity(1);

[2016-10-17 11:23] danielmarbach commented on #379
@ramonsmits the null reference exception is probably caused due to the race on the list of internal receivers. `list.Add` is not thread safe. See https://github.com/Particular/NServiceBus.AzureServiceBus/pull/380/commits/c7be45df3d2a26e08636013b80ee62aea12fbcf2

[2016-10-17 11:25] danielmarbach opened #381 "NullReferenceException on shutdown because of notifier start optimizations"
@#internal we fixed the optimization introduced in hotfix 7.0.2 itself

## Who's affected

* No one. This issue was identified in the code changes introduced in hotfix 7.0.2 itself.

## Symptoms

Endpoint could fail at the startup time with a `NullReferenceException `.

## Original issue

When you start the Azure Service Bus example and immediately shutdown with latest hotfix-7.0.2 branch the endp

[2016-10-17 11:26] danielmarbach commented on #381
I still think we should have hold-off with #360 and not pull it into the hotfix 7.0.2. If we do hold off we need to split the #380 second commit from that PR.

[2016-10-17 11:27] danielmarbach commented on #379
Raise https://github.com/Particular/NServiceBus.AzureServiceBus/issues/381

[2016-10-17 12:53] yvesgoeleven commented on #379
@ramonsmits found the issue, there is a behavioral difference between SBMP & AMQP, receiver that completes a batch must be the same as the one that received a lock token for AMQP (not so for SBMP).

I repro'ed it using folllowing console app: It will work for TransportType NetMessaging but not for AMQP

 `var manager = NamespaceManager.CreateFromConnectionString("xxx");
var factorySettings = new M

[2016-10-17 13:02] yvesgoeleven commented on #372
Also related AMQP requires completion to happen on same receiver as receive operation (even when batched): https://github.com/Particular/NServiceBus.AzureServiceBus/issues/379

[2016-10-17 14:26] danielmarbach commented on #379
I assume batch completion still works if it is the same receiver?

So

[code]

would work?

[2016-10-17 14:36] yvesgoeleven commented on #379
@danielmarbach yes, I verified that

[2016-10-17 20:44] SeanFeldman commented on #379
@ramonsmits please update issue description with the [required sections](https://github.com/Particular/PlatformDevelopment/blob/master/guidelines/release-notes.md#bugs). Many thanks for raising it 😃

[2016-10-17 22:30] #337 closed

[2016-10-17 22:30] #381 closed

[2016-10-18 10:30] ramonsmits opened #383 "Improve 'A message lock lost exception' exception"
When leases aren't long enough the following message can be written in the log

This is not really useful. It would be nice if this would contain:
- Message ID
- Fetched UTC timestamp
- Lease expiration timestamp
- Lease expiration duration

I also think that this should be logged with log level ERROR as this results in more-than-once processing.

Minor thing, there is a typo: occured => occurred

[2016-10-18 10:53] yvesgoeleven commented on #383
@ramonsmits problem is this exception is thrown by ASB, we don't control it. all we do is send a list of guids to asb, the rest happens in the service somewhere. We can ask the asb team to include this info, but that's it

[2016-10-18 11:15] ramonsmits commented on #383
@yvesgoeleven So you get this if 1 of the leases in the batch completion is expired? Do we still have the BrokerMessages somewhere as then we can filter that probably based on that lease token and mention the `LockedUntilUtc` value from that object.

[2016-10-18 16:00] yvesgoeleven commented on #383
@ramonsmits indeed, but the brokered message is not around at that point anymore, all that is left is that lock token

[2016-10-18 17:01] SeanFeldman commented on #383
I'll tackle this question from a different perspective - a batch of 100 messages has failed. What will MessageID, Fetched UTC timestamp, Lease expiration timestamp, and Lease expiration duration help? They are all likely to have everything almost the same, except the message ID. Let's say we provide MessageID, will it help when you have a 100 of those?

I've tried that approach when dispatch a bat

[2016-10-19 06:35] ramonsmits commented on #383
Knowing which messages will be processed again while the message is already processed can help in diagnosing issues later on.

I don't know why all of them would have the same data. What is just one message took a long time to process because it did some kind of external

Only seeing the ID doesn't help and that is why I mention that it would be helpful to see the meta data. Knowing if just for ex

[2016-10-19 14:59] SeanFeldman commented on #383
@ramonsmits besides the fact that data is not around at the point when we attempt to complete, I really can't see how would this info would help when there are dozens of messages that failed to complete. In a system where you have a constant stream of messages. Let's get on a call to review/discuss this?

[2016-10-24 07:27] #379 closed

[2016-10-24 07:32] yvesgoeleven opened #387 "Merge IStoppableTopology into ITopology"
In next major as it would break the interface

https://github.com/Particular/NServiceBus.AzureServiceBus/pull/386

[2016-10-25 05:22] SeanFeldman opened #389 "BatchFlushInterval is not applied when using AMQP mode"
## Who's affected

Anyone using AMQP underlying transport type on Azure Service Bus

## Symptoms

`BatchFlushInterval ` is ignored and not used.

## Original details

[`MessagingFactoryCreator`](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/ba92341ddf9864dd45043ee2dad275621d741e06/src/Transport/Connectivity/MessagingFactoryCreator.cs#L14) is applying `BatchFlushInterval` when [usi

[2016-10-26 04:08] SeanFeldman opened #390 "Internal contracts with a single implementation only"
#@internal There's no need in an internal contract for an internal single implementation

Examples
- [`ConvensionsAdapter`](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/ba92341ddf9864dd45043ee2dad275621d741e06/src/Transport/Topology/ConventionsAdapter.cs#L5) : [`IConventions`](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/ba92341ddf9864dd45043ee2dad275621d741e06/

[2016-10-26 20:48] SeanFeldman opened #391 "First topic in events bundle is never used"
## Who's affected

- Anyone using `ForwardingTopology` and working with events on Azure Service Bus

## Symptoms

With the `ForwardingTopology` when events are sent, they are randomly distributed between bundled topics for better performance. By default, there are 2 topics in a bundle, but only one is utilized.

## Details

Bundles are used for performance. This bug does not require an immediate u

[2016-10-26 21:06] SeanFeldman opened #392 "Unsubscribing from an event doesn't work"
## Who's affected

- Anyone that requires to be able to unsubscribe endpoints from events

## Symptoms

Unsubscribe requests are not persisted, causing unsubscribed endpoints continue receiving events after those endpoints were restarts.

## Details

Issue raised based on the SO question [here](http://stackoverflow.com/questions/40249886/nservicebus-pub-sub-on-azure-service-bus-queues)

The reques

[2016-10-27 09:35] danielmarbach commented on #391
How about we fix it in 7.1 then?

[2016-10-27 10:33] danielmarbach opened #395 "Is MessageFactorySettingsFactory customization a feasible overload?"
While investigating for #389 I worked on MessagingFactoryCreator. The creator uses the namespaceManagers in two locations. One during the creation and one time during the messaging factory settings creation to assign the token provider. This made me question whether the

`Func<string, MessagingFactorySettings>>(WellKnownConfigurationKeys.Connectivity.MessagingFactories.MessagingFactorySettingsFact

[2016-10-27 10:46] danielmarbach commented on #395
Talked to @yvesgoeleven and he explained to me that we only access the namespace manager to access the token provider in order to not create a new one again. Users can very well implement that function without ever needing to access the namespace manager.

[2016-10-27 10:46] #395 closed

[2016-10-27 10:51] yvesgoeleven commented on #395
Just to add: The token provider class offers a bunch of static methods to create a new one: https://msdn.microsoft.com/en-us/library/microsoft.servicebus.tokenprovider_methods.aspx

[2016-10-27 10:54] yvesgoeleven commented on #395
We also have documentation on the topic: https://docs.particular.net/nservicebus/azure-service-bus/token-provider

[2016-10-27 16:45] SeanFeldman commented on #391
This required the discussion on #388 to reach a conclusion first.
Agreement is that we're going to deploy this bug fix, #392, and #388 in 7.1.0

[2016-10-27 18:15] #391 closed

[2016-10-27 18:17] #389 closed

[2016-10-27 21:28] #390 closed

[2016-10-28 10:14] yvesgoeleven commented on #272
https://github.com/Particular/NServiceBus.AzureServiceBus/pull/388

[2016-10-28 10:30] yvesgoeleven commented on #372
@SeanFeldman this one is done right?

[2016-10-28 10:31] yvesgoeleven commented on #383
@SeanFeldman @ramonsmits is there an action point here?

[2016-10-28 10:34] #372 closed

[2016-10-28 15:28] #392 closed

[2016-10-28 18:10] SeanFeldman commented on #372
@yvesgoeleven correct

[2016-10-28 18:11] SeanFeldman commented on #383
@yvesgoeleven we didn't have a chance to connect to discuss this. Feels like a nice-to-have.

[2016-11-02 09:19] ramonsmits commented on #383
@yvesgoeleven @SeanFeldman I also has another idea. Due to the prefetchingm the lease lock is potentially acquired much earlier than the processing starts. What about checking this value just before processing starts? For example, lease duration is 30 seconds, due to prefetching the lock is already acquired 20 seconds before processing starts meaning only 10 seconds left to complete and ack the le

[2016-11-02 14:31] SeanFeldman opened #401 "Spell checking in the error message"
Original issue: #383

"occured" ==|> "occurred"

[2016-11-02 15:01] SeanFeldman commented on #383
@ramonsmits from a performance point of view, the investment is more of the overhead than benefit. It's simpler to retry the messages and lock tockens are enough to correlate back to the messages _if_ such action is required.

I'm going to close this for now.

PS: spelling will be fixed via #401

[2016-11-02 15:01] #383 closed

[2016-11-02 15:01] SeanFeldman opened #402 "Single message completion should log ASB related exception details"
`MessageRecieveNotifier` is completing a message in `HandleCompletion()` method and is using `BrokeredMessage.CompleteAsync()` rather than going through `BrokeredMessageExtensions.SafeCompleteAsync()` extension method to log exception details when needed.

[2016-11-02 16:54] SeanFeldman commented on #272
closed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/739be8c8946276fcaf8e9ad60ddea22763b8f88a

[2016-11-02 16:54] #272 closed

[2016-11-02 23:49] SeanFeldman opened #404 "Creating custom partitioning strategies"
#@internal: changes associated with internalization of types done in #388

As part of ASB tranport API, we allow custom partitioning strategies to be [registered](https://docs.particular.net/nservicebus/azure-service-bus/configuration/full#physical-addressing-logic-namespace-partitioning).
To be able to access the namespaces registered with the transport, internally `NamespaceConfigurations` type

[2016-11-03 02:40] boblangley commented on #404
Perhaps we should just handle the conversion for the user and provide them only RuntimeNamespaceInfo via an extension method in ReadOnlySettings? Here is a PR #405

[2016-11-03 05:30] SeanFeldman opened #406 "FailOverNamespacePartitioning won't fail over"
## Who's affected

Anyone using `FailOverNamespacePartitioning`

## Symptoms

Fail-over namespace is not used, causing endpoint to raise critical error.

## Original issue

`FailOverNamespacePartitioning` strategy is supposed to provide passive namespace for the fallback namespaces when `DefaultOutgoingBatchRouter` is failing to route messages to the active namespace. Due to how destination namesp

[2016-11-03 07:44] ramonsmits commented on #383
Don't understand that performance remark @SeanFeldman . This is to inform customers that if a lease is expired to warn that the same message will be processed again.

[2016-11-03 07:55] danielmarbach commented on #406
I stumbled over this right now. The failover mode of the strategy is never set so it will always return primary no matter whether the primary is available or not. So the sample

https://docs.particular.net/nservicebus/azure-service-bus/multiple-namespaces-support#fail-over-namespace-partitioning

with the statement

Is not correct.

[2016-11-03 08:31] yvesgoeleven commented on #406
sounds like 2 bugs in one
 * partitioning strategy should return a set of 1 active and 1 passive in this case
 * partitioning strategy shoud flip the active and passive if it can't use active for a while

[2016-11-03 17:42] SeanFeldman commented on #404
@yvesgoeleven I agree we should revert internalization of `NamespaceConfigurations` for now and leave it as-is for v7.x

@danielmarbach attempted a different approach in PR #407 , which is probably a good way for vNext, but not the current solution.

[2016-11-04 05:46] SeanFeldman commented on #406
Maintainers call is scheduled.

[2016-11-04 05:47] SeanFeldman commented on #383
@ramonsmits my bad, I was thinking of batched completion.

[2016-11-04 16:42] HaripraghashSubramaniam opened #411 "Topic existence is not verified with an associated namespace"
## Who's affected

Everyone that uses a multiple namespace partitioning strategy

## Symptoms

Topics are not created in secondary namespaces if they already exist in the primary

## Details

We are trying to use Multiple namespaces using round robin strategy. When we provide 2 namespaces with primary namespace having all the input queues, topics etc created and a blank and a new secondary namespa

[2016-11-04 17:02] yvesgoeleven commented on #411
@jabrouni1 thanks for reporting, we'll make sure this gets fixed

[2016-11-04 19:02] SeanFeldman commented on #406
Scheduled to be fixed in 7.0.3

[2016-11-04 21:01] SeanFeldman opened #413 "RepeatedFailuresOverTimeCircuitBreaker is armed after a single error"
## Who's Affected

Anyone using Azure Service Bus transport

## Symptoms

When ASB client fails to receive a message, transport will invoke `RepeatedFailuresOverTimeCircuitBreaker`. Circuit breaker should have a few failures prior to arming and raising a critical error after 30 seconds. Instead, a single error will arm the trigger.

In scenarios where message flow is low, a single unsuccessfully r

[2016-11-04 21:13] SeanFeldman commented on #413
Given the CB originated from the core, I've opened up an [issue](https://github.com/Particular/NServiceBus/issues/4275) with core to clarify the intent of the original class.

[2016-11-04 21:30] SeanFeldman opened #414 "Handling errors and failover for incoming messages"
As of now, a single receive error will arm a CB (issue #413).
When a registered partitioning strategy supports failover namespace, like `FailOverNamespacePartitioning `, (issue #406), we don't fail over to the passive namespace(s). It was agreed that we should.

Should we change how failures for incoming messages are handled? For example,
- Arm `RepeatedFailuresOverTimeCircuitBreaker` **and**
- Fa

[2016-11-04 21:41] SeanFeldman commented on #406
## Call summary

1. Section managers (`ForwardingTopologySectionManager ` and `EndpointOrientedTopologySectionManager`) should not [filter out namespace](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/b1767af2fd30093383519e894f18910b01a84151/src/Transport/Topology/Topologies/ForwardingTopologySectionManager.cs#L160) based on Mode when sending to partitioned namespaces.
1. [`FailOve

[2016-11-04 21:47] SeanFeldman commented on #413
For core it's working as designed. For ASB, behaviour might require a change to take into consideration possible failover.

[2016-11-05 04:48] SeanFeldman opened #416 "Log an error if non-durable messages are found"
Connects to issue https://github.com/Particular/docs.particular.net/issues/2172.
ASB doesn't support non-durable messages and `Express` attribute is silently ignored providing no indication to users.

[2016-11-08 21:09] SeanFeldman commented on #413
@Particular/azure-service-bus-maintainers should we increase number of failures, or should we clarify the name? Right now, with a single failure, we have a solid behavior.

[2016-11-14 17:07] SeanFeldman commented on #413
@Particular/azure-service-bus-maintainers ping

[2016-11-14 17:35] SeanFeldman commented on #414
This is what we've agreed on our call. So I'm going to close this issue as it's being replaced with #417 PR.

[2016-11-14 17:35] #414 closed

[2016-11-14 17:38] yvesgoeleven commented on #413
@SeanFeldman let's just leave it as is, the name is a bit confusing but as the behavior has been like this since the beginning, I would not change it now

[2016-11-14 17:45] SeanFeldman commented on #413
Sounds good.
@danielmarbach said the same about Core version, name is confusing.
Closing. Reopen if needed.

[2016-11-14 17:45] #413 closed

[2016-11-15 17:25] SeanFeldman opened #420 "Deterministic geo fail-over partitioning strategy"
## Description

For a fail-over namespace partitioning strategy it is a valid scenario to have 2 namespaces  in different data centres. When the primary namespace is failing, fail-over would happen, but when the primary namespace is back, fail-over should happen again to prefer usage of the primary namespace (latency concern for example).

To perform this deterministic fail-over, there'd be a need

[2016-11-17 15:07] SeanFeldman commented on #124
This could be either documented as guidance or a sample.

[2016-11-18 15:10] SeanFeldman commented on #124
MSMQ example is already available: https://docs.particular.net/samples/routing/data-distribution/

[2016-11-18 15:19] SeanFeldman commented on #124
[Documentation](https://docs.particular.net/nservicebus/azure/data-distribution) is already in place pointing to the sample.

[2016-11-18 15:19] #124 closed

[2016-11-18 15:31] #406 closed

[2016-11-18 15:31] #411 closed

[2016-11-18 19:30] SeanFeldman opened #424 "Unnecessary check when creating queues"
Core only invokes `ICreateQueues` when queue creation is allowed
- Running with a debugger attached
- `endpointConfig.EnableInstallers()`

Anything else will not trigger queue creation calls, make [this check](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/796324278aa179eb0836eefbe977e5189488958a/src/Transport/Creation/AzureServiceBusQueueCreator.cs#L53) obsolete.

[2016-11-18 19:41] SeanFeldman opened #425 "When creating subscriptions, core flag for CreateQueues is used, but shouldn't"
With events, when an endpoint is deployed into production w/o `endpointConfig.EnableInstallers()` or topics/subscriptions exist, the endpoint will [skip topics/subscriptions creation](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/796324278aa179eb0836eefbe977e5189488958a/src/Transport/Creation/AzureServiceBusSubscriptionCreator.cs#L51) logging an info instead.

The challenge with t

[2016-11-18 19:41] SeanFeldman commented on #425
@Particular/azure-service-bus-maintainers thoughts?

[2016-11-21 07:33] andreasohlund opened #426 "Release a deprecation package for NServiceBus.Azure"
As NServiceBus.Azure will be split in the next major (into persistence & databus) and will cease to exist, we should notify users about this when they try to upgrade.

- [ ] Create an empty V7 package, add [deprecated] to the title & update the description to point to the 2 new packages. We did this in the past for NServiceBus.Interfaces see https://github.com/Particular/NServiceBus/blob/support-5

[2016-11-21 07:40] SeanFeldman commented on #426
👍

[2016-11-23 14:58] danielmarbach commented on #264
There is no benefit for our customers if we change the name of the package just for internal aligning purposes. It might be beneficial for .NET Core support with the revised SDK that we create a new version 1.0 of the transport and then we can align the name. Closing this

[2016-11-23 14:58] #264 closed

[2016-11-23 15:03] danielmarbach commented on #376
Sound like something we could address with 8.0 or Future. Is it important enough to be part of 8.0 or should we backlog it?

[2016-11-23 20:05] SeanFeldman commented on #376
Probably not 8.0 since 8.0 will potentially focus on
- Completion of sealing of APIs that got obsoleted in 7.1.0
- Addressing internal container and ReadOnlySetting

which on its own is enough of work.

[2016-11-24 17:29] SeanFeldman commented on #401
Updated [project board](https://github.com/Particular/NServiceBus.AzureServiceBus/projects/3#card-843630)

[2016-11-24 17:29] #401 closed

[2016-11-25 15:28] SeanFeldman opened #428 "Remove the check if topology needs to be created for Subscriptions"
Addresses #425

The check is unnecessary and can be removed.

[2016-11-25 15:29] SeanFeldman commented on #425
Replaced by #428

[2016-11-25 15:29] #425 closed

[2016-11-25 15:34] SeanFeldman commented on #338
@tekmaven did you have a chance to look into my suggestion? Thanks.

[2016-11-25 15:43] SeanFeldman commented on #313
AMQP currently is not the default for the transport. We should review AMQP all together when transport transaction support is added by ASB native client. Closing this issue.

[2016-11-25 15:43] #313 closed

[2016-11-25 15:53] SeanFeldman commented on #273
@yvesgoeleven what do we do with this one?
If we can't repro or find out what happened, there's no point of having this one in the backlog.

[2016-11-25 15:59] SeanFeldman commented on #12
Currently we do not support EventHubs as an option for ASB transport and most likely it would be a dedicated transport on its own.
We'll re-evaluate the possibility of creating EventHubs transport in the future.

[2016-11-25 15:59] #12 closed

[2016-11-25 16:01] SeanFeldman commented on #9
Closing this. Please re-open if needed.

[2016-11-25 16:01] #9 closed

[2016-11-26 21:22] yvesgoeleven commented on #273
@SeanFeldman keep it open, eventually we'll get more details about the cause and figure it out #nevergiveup

[2016-11-28 03:49] SeanFeldman opened #429 "Circuit breaker never invoked when messages are failing to be received"
## Who's affected

- Anyone using Azure Service Bus transport version 7 and up

## Symptoms

Circuit breaker is not triggered when messages are failing to be received.

## Details

[MessageReceiveNotifier](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/796324278aa179eb0836eefbe977e5189488958a/src/Transport/Receiving/MessageReceiverNotifier.cs#L108) should invoke error callback when

[2016-11-28 03:50] SeanFeldman commented on #429
@Particular/azure-maintainers this might need to be treated as critical

[2016-11-29 14:57] tmasternak opened #433 "IEndpointInstance.Stop can cause hosting process shutdown"
## Who's affected

- Anyone running with Azure Service Bus transport and requires start and stop of the endpoint independent of the host process.

## Symptoms

`IEndpointInstance.Stop()`  can cause the host to shut down.

## Context

Due to race-condition between message processing logic and endpoint shutdown logic, hosting process can be killed when `IEndpointInstance.Stop()` is called.

The issu

[2016-11-29 14:58] tmasternak commented on #433
@Scooletz can you please verify the the summary of our findings is correct?

[2016-11-29 16:10] Scooletz commented on #433
It is very correct @tmasternak .

The latest finding that the `OnMessageOptions.ExceptionReceived` is called as a continuation to the task seems to be true as well. The callback we initiate, is passed to the internal `Microsoft.ServiceBus.Messaging.MessageReceivePump` that uses it to initiate `Microsoft.ServiceBus.Common.TaskAsyncResult` which runs completing as a continuation if a task didn't ret

[2016-11-29 16:42] Scooletz commented on #433
Ping @Particular/azure-maintainers

[2016-11-29 19:38] bording commented on #433
I've read through this a few times, and I'm still not seeing how this explains the stack trace in #432. By the time the [ScenarioRunner](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.AcceptanceTesting/Support/ScenarioRunner.cs#L31) has set the Context to null to cause the NRE in `ContextAppender.Log` that is seen in the #432 stack trace, how is there still code executing i

[2016-11-29 20:37] tmasternak commented on #433
I think this is the case. The scenario that I gave in the description - `OptionsOnExceptionReceived` not making progress for 30s,  is not very likely to happen but still possible. The more probable problem is the second thing mentioned (and described by in more details by @Scooletz) i.e. just after `OptionsOnExceptionReceiverd` goes past `stopping` check and `Stop` gets executed and does not wait

[2016-11-30 07:46] Scooletz commented on #433
@tmasternak I updated my proposal to make it simpler a little bit. Now the continuation is returned that either removes the entry or throws, leaving the removal to the `OptionsOnExceptionReceived`. I know it's a bit slower with removing the task from `invocations`. We can discuss both approaches through.

[2016-11-30 09:26] danielmarbach commented on #433
@tmasternak @Scooletz let's sync on this. I've been doing a fair amount of analysis on this one already.

[2016-11-30 13:56] danielmarbach opened #435 "Port changes from Shutdown race to release-7.1.0"
When #434 is reviewed and accepted port the changes to 7.1.0 release branch

[2016-12-01 14:25] danielmarbach commented on #429
Small update: The code is implemented and available on the hotfix 7.0.4 branch. We are in the process of reviewing it. As part of the 7.0.4 releae we will also be releasing a fix for a shutdown race scenario #434

[2016-12-01 15:53] danielmarbach commented on #402
Implemented as part of #434 Closing

[2016-12-01 15:53] #402 closed

[2016-12-01 23:30] #429 closed

[2016-12-01 23:31] SeanFeldman commented on #433
Adding required sections. Moving forward, let's make sure that all bugs have those.

[2016-12-01 23:35] #433 closed

[2016-12-02 08:56] tmasternak opened #439 "Better Stop in `MessageReceiverNotifer`"
## Context
When stopping `MessagePump` we execute `Stop` methods for all `MessageReceiverNotifer`es. The [logic](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/develop/src/Transport/Receiving/MessageReceiverNotifier.cs#L98) of `Stop` consists of couple of steps:
 1. Set `stopping` flag //after that all messages pushed by SDK to [ProcessMessages](https://github.com/Particular/NServi

[2016-12-02 10:17] danielmarbach commented on #435
PR is available #440

[2016-12-02 10:18] danielmarbach commented on #424
PR #438 was merged. Closing this.

[2016-12-02 10:18] #424 closed

[2016-12-02 10:19] danielmarbach commented on #428
Done as part of #438 Closing

@SeanFeldman can you double check and reopen if necessary

[2016-12-02 10:19] #428 closed

[2016-12-02 10:22] danielmarbach commented on #404
#437 was merged. Closing

[2016-12-02 10:22] #404 closed

[2016-12-02 12:18] danielmarbach commented on #435
Closing since #440 is merged

[2016-12-02 12:18] #435 closed

[2016-12-02 15:40] Scooletz commented on #439
The ASQ approach. Let's introduce two separate strategies for different guarantees.

[2016-12-02 16:55] SeanFeldman commented on #428
Confirmed. We also removed the default value added by the transport to the "create queues" setting from the core. Now there's no questions about what the default is.

[2016-12-02 19:00] SeanFeldman commented on #439
I'll be the 👿 advocate. We discourage people from running in `ReceiveAndDelete` mode. By default, we're using `PeekLock`. Those that opt into `ReceiveAndDelete` do that knowing that they will loose messages.

Now with that on the table, I do like the idea of doing better than we do now. What those 2 strategies would look like? Wouldn't be it simpler to have 2 `Stop` approaches? I.e. can't say one

[2016-12-03 16:27] SeanFeldman opened #443 "Allow message de-duplication on message's payload level"
I've spiked this option for something else needed to do with with ASB and it seems like a great way to achieve message deduplication using message/payload properties in conjunction with the native deduplication feature. More details [here](https://weblogs.asp.net/sfeldman/bend-message-deduplication-on-azure-service-bus-to-your-will).

Update: the hash assigned to the outgoing message id would be o

[2016-12-05 22:20] tekmaven commented on #338
Hey Sean,

We implemented my workaround for this to use the db.  NSB is all about options, why force people to go in one direction?

-Ryan

[2016-12-05 22:46] SeanFeldman commented on #338
@tekmaven intention was not to force into a single direction, but see if this would work for you.
Glad to hear workaround works. for you.

[2016-12-07 09:24] tmasternak opened #444 "Align assembly names with namespaces for test projects"
Currently for unit tests and acceptance tests assembly names and namespace names are not aligned

[2016-12-07 14:16] dvdstelt opened #446 "Namespace alias should not work by default"
### Issue

On the following configuration, the connectionstring is not in `ReplyTo` or `ReplyToAddress` according to [this page in doco](https://docs.particular.net/nservicebus/azure-service-bus/securing-connection-strings). The `UseNamespaceAliasesInsteadOfConnectionStrings` setting seems to be on by default?

[code]

![image](https://cloud.githubusercontent.com/assets/1257410/20970980/18eb90c2-b

[2016-12-07 14:47] danielmarbach commented on #387
Done as part of #445

[2016-12-07 14:55] danielmarbach opened #447 "Replace the concepts of IManageMessageSenderLifeCycle & IManageMessageReceiverLifeCycle"
We think that we can get rid of `IManageMessageSenderLifeCycle ` and `IManageMessageReceiverLifeCycle` since we know that the relationship between factories, receivers and senders should be one to one.

We propose to favor this one over #362

Connects to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/587

[2016-12-07 15:01] yvesgoeleven commented on #447
@danielmarbach probably the other way around, we can get rid of the factory lifecycle manager, connections will drop so a lifecycle manager is needed at this level, but each time a new sender or receiver must be created we can also create a new factory

[2016-12-07 15:04] danielmarbach opened #448 "Replace the internal container with newing up instances directly where needed"
@SeanFeldman and I made a spike to show that it is possible to replace the internal container inside the topology. The approach would be following

- The topology is the composition root of the infrastructure required to run it
- All singleton scoped objects are held as fields inside the topology
- On demand created objects with transient scope are created with `new `when needed and held by the in

[2016-12-07 15:08] yvesgoeleven commented on #448
👍

[2016-12-07 15:15] SeanFeldman commented on #447
I think the intent was to get rid of the `CircularBuffer` internally as well.
I.e. create the entities and when trying to get those and find that connection was closed, new it up.
Thoughts @yvesgoeleven @danielmarbach ?

[2016-12-07 15:55] yvesgoeleven commented on #447
you need some kind of even distribution when using those entities, that's what the circularbuffer is there for, easy way to alternate. If you want to get rid of it you'll need to introduce another way of alternating

[2016-12-07 16:37] SeanFeldman commented on #444
@tmasternak so is with transport tests

#### ATTs
Project name: `NServiceBus.AzureServiceBus.AcceptanceTests`
Assembly name: `NServiceBus.Azure.Transports.WindowsAzureServiceBus.AcceptanceTests`
Default namespace: `NServiceBus.Azure.Transports.WindowsAzureServiceBus.AcceptanceTests`

#### Unit tests
Project name: `NServiceBus.AzureServiceBus.Tests`
Assembly name: `NServiceBus.Azure.WindowsAzureSer

[2016-12-07 19:42] danielmarbach commented on #447
@yvesgoeleven @SeanFeldman could we get on a call? I have difficulties to understand it since I'm still lacking in those ASB areas.

[2016-12-07 21:12] SeanFeldman commented on #447
@danielmarbach Monday would work?

[2016-12-08 06:12] SeanFeldman commented on #446
@dvdstelt I cannot reproduce this. Have used one of the samples and `ReplyToAddress` is **not** secured by default. Could you please run the same [sample](https://docs.particular.net/samples/azure/azure-service-bus/) to see if you get the same results? Thanks.

![image](https://cloud.githubusercontent.com/assets/1309622/20999544/7c42d4c2-bcd2-11e6-8b1a-2170f5dec6ae.png)

[2016-12-08 09:07] danielmarbach commented on #282
We discussed this yesterday. Since the settings extension constructors are internal now we can switch the constructor to get an instance of a topology and then the topology itself can have strongly typed properties that represent settings for the topology and the subsystems

[2016-12-08 09:37] #387 closed

[2016-12-08 10:10] dvdstelt commented on #446
It's ServiceInsight that isn't showing the connectionstring, just the word "default". I don't think that's the proper way to do it, because if I get confused, others might as well ;-)

@SeanFeldman How did you manage to get the above screenshot? What tool did you use? I checked with ServiceBus Explorer and it's awful!

[2016-12-08 10:10] #446 closed

[2016-12-08 16:22] Scooletz commented on #439
Sure. We can discuss it.

[2016-12-08 16:25] Scooletz commented on #443
Where? :P

[2016-12-08 16:26] Scooletz commented on #448
Where's the spike @danielmarbach ? :)

[2016-12-08 16:29] SeanFeldman commented on #443
My bad, markdown issue. Fixed. Alternative link [here](https://blogs.msdn.microsoft.com/servicebus/2016/12/08/deduplication-with-message-payload/)

[2016-12-08 19:51] SeanFeldman commented on #443
Have discussed this a bit with @bording and this could potentially be viewed as an Outbox for ASB (issue #22).

[2016-12-08 20:01] yvesgoeleven commented on #443
@SeanFeldman @bording the intention of #22 is to survive network outages, nothing else.

ps: that issue predates the core outbox feature, it was not intended to work the same way (a different name may be needed)

[2016-12-09 05:32] SeanFeldman commented on #448
Gone with the wind...​

[2016-12-09 05:39] SeanFeldman commented on #446
SBE

It likes me 😃

[2016-12-12 07:29] danielmarbach commented on #447
Yes

[2016-12-12 10:00] yvesgoeleven commented on #447
A short explanation why we need to alternate between entities (actually we need to alternate between connections).

The answer lies in the internal architecture of ASB, which from a high level looks like this:

 * DNS & azure edge network assign connections to a specific gateway node inside a scale unit of tthe broker
 * gateway node is responsible for connectivity, security, throttling and broker

[2016-12-19 21:54] danielmarbach opened #458 "Topology migration"
Could we provide a migration tool or code internally in the transport which bridges an endpoint-oriented topology over to a forwarding topology on the fly including guidance when the old topology can be removed?

Connects to https://github.com/Particular/NServiceBus.Azure/issues/310

[2016-12-20 07:29] SeanFeldman commented on #458
This is something that has been briefly discussed in the past and the biggest concern was always the fact that taking offline a system to perform an complete upgrade is not an option. Worth discussing to see if we could bypass that w/o having to require system to go down, _if_ possible. If not, at least we'll be able to document the reasons.

[2016-12-20 07:35] SeanFeldman opened #459 "Unsubscribing from an event doesn't work with EndpointOrientedTopology"
## Who's affected

- Anyone that requires to be able to unsubscribe endpoints from events and using `EndpointOrientedTopology`

## Symptoms

Unsubscribe requests are not persisted, causing unsubscribed endpoints continue receiving events after those endpoints were restarts.

## Details

Similar to the issue that was found in `ForwardingTopology` (#392).

The request to unsubscribe should be modify

[2016-12-20 07:59] SeanFeldman opened #460 "Polymorphic events from different publishers not handled properly with EndpointOrientedTopology"
## Who's affected

- Anyone using `EndpointOrientedTopology` and has endpoints that subscribe to polymorphic events published by different endpoints, applying workaround demonstrated in [Polymorphic events with Azure Service Bus Transport](https://docs.particular.net/samples/azure/polymorphic-events-asb/) sample.

## Symptoms

Each publisher should have a subscription for the subscriber, but only

[2016-12-20 14:51] yvesgoeleven commented on #460
Endpoint oriented topology has never supported polymorphic events ootb, we introduced forwarding topology specifically with this in mind. It's ok to fix this creation problem of course, but we should do a better effort to guide people to use forwarding topology instead (and maybe provide some documentation on how to transition from one to the other). See discussion in #458

[2016-12-20 14:57] yvesgoeleven commented on #458
We can't do it automatically without causing downtime (main limitation is that it's impossible to both receive and forward from an entity at the same time), but we could document how to do it step by step without causing downtime.

[2016-12-20 21:53] SeanFeldman commented on #460
The scenario here is a hierarchy of events (happened to be polymorphic events),
`Base` <|-- `Derived1` <|-- `Derived2`

A single `subscriber` and two publishers, `publisher1` and `publisher2` where `publisher1` publishes `Derived1` and `publisher2` publishes `publisher2`.
Both should be received, but only one would be since only one subscription will exist due to this bug.

![image](https://cloud.

[2016-12-24 12:56] HaripraghashSubramaniam opened #466 "Maximum concurrency message needs improvement"
## Who's affected

This is a logging improvement and no one is identified as "affected".

## Symptoms

When `MessageReceiverNotifier` maximum concurrency is adjusted, the log message doesn't specify what entity is going to be affected.

## Original issue

NServiceBus.Transport.AzureServiceBus.MessageReceiverNotifier The maximum concurrency on this message receiver instance has been adjusted to '1'

[2016-12-24 19:51] SeanFeldman commented on #466
@HaripraghashSubramaniam thank you for the suggestion. Definitely [logged message](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/160c369e9cedd9beab531ec47d8ada7da8985833/src/Transport/Receiving/MessageReceiverNotifier.cs#L54) could provide entity`s [full path](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/160c369e9cedd9beab531ec47d8ada7da8985833/src/Transport/Rece

[2016-12-24 20:01] SeanFeldman opened #467 "Review entities Path / Name / FullPath usage"
**Placeholder**. Full description will come later.

We've got inconsistent usage of entity `Path`, `Name` and full path. As a result of that there are leaking abstractions ([`MessageReceiveNotifier`](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/160c369e9cedd9beab531ec47d8ada7da8985833/src/Transport/Receiving/MessageReceiverNotifier.cs#L39))
and potential issue, break the transpor

[2016-12-26 21:34] HaripraghashSubramaniam opened #468 "Potential memory leak?"
I am using Nservicebus 6.1.1 with NSB ASB 7.1.0. I ran a bit of soak test and I can see the memory increasing over time. I tried to see how the heap looks like and i can see a lot of ASB objects not disposed.

Could this be a memory leak?

![nsb-asb-memory](https://cloud.githubusercontent.com/assets/1676625/21486816/02443e14-cbb3-11e6-8210-cdd7cf792442.jpg)

[2016-12-26 22:07] SeanFeldman commented on #468
Could you please provide the code you used for the test? Thanks.

[2016-12-26 23:38] HaripraghashSubramaniam commented on #468
``
Sure.

Its in here
https://www.dropbox.com/s/u3q9yjju2s76gg8/nsbasb7.zip?dl=0

ASB con string and licence files have been removed.

[2017-01-03 15:02] SeanFeldman commented on #468
@HaripraghashSubramaniam could you let know if the [repro you've shared](https://www.dropbox.com/s/u3q9yjju2s76gg8/nsbasb7.zip?dl=0) caused a memory leak on your end? In case it did, how long have you had it running and what project was it (sender or receiver)?

Sender takes a really long time to send all those messages (transport v6 limitation), but still I did not see anything abnormal.

[2017-01-05 01:38] #466 closed

[2017-01-11 16:42] JSCProjects opened #474 "Message which is to big for ASB doesn't fail in a cloudservive when sending to the bus"
Hello,

When I receive a message which then is mapped to a specific command(Very huge) it doesn't fail when sending it to the bus if it's hosted inside a azure cloud service. When I execute the same handler and message inside a console app then it throws a NSB.MessageTooLargeException. I'm aware of the DataBus and this specific command must go over this, but the original messages aren't available

[2017-01-11 18:09] SeanFeldman commented on #474
@JSCProjects a few clarifications
1. Are you receiving a message or are you sending a message and it fails?
2. If it's a send operation, is it on a context of a handler or not?
3. Elaborate on

[2017-01-11 18:58] JSCProjects commented on #474
Sean,

The process works as followed. I receive a event and that event is mapped to a command with specific edi content. For reliability and responsibility reasons this command is send to a specific edi handling endpoint via the bus. This endpoint handles security, connectivity with a legacy system. Normally this event contains daily information, but we didn’t know there was a hidden spec. The old

[2017-01-11 19:07] SeanFeldman commented on #474
If I understood correctly the scenario is the following:
An endpoint (`Source`) is receiving a message (`incoming`). Processes it, which results in an outgoing message (`outgoing`). `incoming` message is marked as successfully processed, despite the fact that the `outgoing` message was way too large to be sent and actually failed sending operation (with `MessageTooLargeException` being logged). Is

[2017-01-11 19:13] JSCProjects commented on #474
You're completely right. The MessageTooLargeException isn't logged.

The console app uses the same connection strings but not completely the same bus config

[2017-01-11 19:29] SeanFeldman commented on #474
Could tou pleaae share you configuration  (minus connection strings)?

[2017-01-12 06:40] JSCProjects commented on #474
Shared code

        public static void ApplyCustomConventions(this BusConfiguration busConfiguration, Func<Type, bool> events = null)
        {
            var conventions = busConfiguration.Conventions();
            conventions.DefiningCommandsAs(t => t.Namespace != null && t.Name.EndsWith("Command"));
            conventions.DefiningEventsAs(t => (t.Namespace != null && t.Name.EndsWith("Event"

[2017-01-12 12:31] yvesgoeleven commented on #474
@JSCProjects So if I understand correctly: MessageTooLargeException is not logged in the cloud services host, but it is when hosted in the console application?

This would mean that either the exception is not thrown, or that the exception is catched somewhere before it's logged.

Do you have any size related or exception related logic in your handler? Can you share your handler's code?

Are you s

[2017-01-12 12:36] JSCProjects commented on #474
This is the handler. Only altered the types.

    public class Handler : IHandleMessages<SomeEvent>
    {
        public Handler(IBus bus, IMapper mapper)
        {
            this.Bus = bus;
            this.Mapper = mapper;
        }

        public IBus Bus { get; }

        public IMapper Mapper { get; }

        public void Handle(SomeEvent message)
        {
            var command = this.M

[2017-01-12 14:10] SeanFeldman commented on #474
@JSCProjects do you observe any ASB exceptions right _after_ the handler is invoked or reported to be completed successfully? What could be happening is the following:
NSB.ASB v6 participated in a transaction. The size in v6 was checked and if it was below the maximum size, was committed, marking handler execution as successful. Unfortunately, that's not accurate. The real size of an ASB message c

[2017-01-12 14:14] JSCProjects commented on #474
This describes my problem, there are no MessageTooLargeExceptions logged

[2017-01-12 14:36] SeanFeldman commented on #474
And what about logs?

[2017-01-12 14:45] JSCProjects commented on #474
There is no sign of any exceptions in the nsb.log

[2017-01-17 23:11] #460 closed

[2017-01-17 23:11] #459 closed

[2017-01-20 10:36] ottarhenanger opened #478 "The given key (AzureServiceBus.Serialization.BrokeredMessageBodyType) was not present in the dictionary."
The exception below suddenly appeared for in our test environment:

The given key (AzureServiceBus.Serialization.BrokeredMessageBodyType) was not present in the dictionary.

Stack-trace is below:

`System.Collections.Generic.KeyNotFoundException:
   at NServiceBus.Settings.SettingsHolder.Get (NServiceBus.Core, Version=6.0.0.0, Culture=neutral, PublicKeyToken=9fc386479f8a226c: C:\BuildAgent\work\32

[2017-01-20 12:52] yvesgoeleven commented on #478
@ottarhenanger Can you elaborate on the word 'Suddenly' what changed that could cause the key not to be there? The transport always sets a default for this setting, https://github.com/Particular/NServiceBus.AzureServiceBus/blob/master/src/Transport/Config/DefaultConfigurationValues.cs#L39, so I wonder what could have been the cause of it's removal. Do you have a repro of this issues that we could

[2017-01-20 13:30] ottarhenanger commented on #478
@yvesgoeleven The error occurred only for 2 requests issued by our Web API on our QA environment. The system has been running for over a month without changes, suddenly these requests failed. I've tried to recreate the problem on my local PC to see if it was related to some content, but not able to recreate. The only indication is the stack trace captured by AppInsight and a HTTP 500 returned by o

[2017-01-20 13:43] yvesgoeleven commented on #478
Thanks for the info. Anything special in the endpoint configuration that I need to be aware of?

PS: why are you including both ASB & ASQ transports? Are you using both in the same appdomain?

[2017-01-20 13:49] ottarhenanger commented on #478
Actual transport is selected based on config during startup, so both binaries are included. In prod and QA, ASB is used. Locally on deg PC, ASQ is used.

[2017-01-20 14:08] yvesgoeleven commented on #478
@ottarhenanger is that done to allow devs to use local emulator? Or is there another reason to switch transports?

[2017-01-20 14:59] SeanFeldman commented on #478
@ottarhenanger when you tried to repro this locally, where you using ASQ or ASB? Thank you.

[2017-01-22 19:54] HaripraghashSubramaniam commented on #468
I was not able to reproduce this again. This can be closed now i believe

[2017-01-22 20:00] SeanFeldman commented on #468
If you get to reproduce it, please return the issue with a repro do that we can investigate further. Thank you.

[2017-01-22 20:00] #468 closed

[2017-01-24 14:12] agiudici1 opened #480 "NullReferenceException in MessagePump.cs:line 57 when using AddSatelliteReceiver"
## Who's affected

Anyone using Azure Service Bus transport and requires custom satellites.

## Symptoms

Endpoint cannot process messages and throws `NullReferenceException` exception when a custom satellite is added with a queue name that doesn't follow NServiceBus satellite queue naming convention.

## Original issue

When an endpoint adds a SatelliteReceiver (using the FeatureConfigurationCont

[2017-01-24 14:34] yvesgoeleven commented on #480
@agiudici1 thank you for reporting this, we'll look into it

[2017-01-24 23:31] SeanFeldman commented on #478
@ottarhenanger can you repro this issue?
We really need some sort of repro to help with this.

Side note - I suggest to use the same transport across the board and not to switch.

[2017-01-31 09:23] yvesgoeleven commented on #480
Root cause: Currently the association between the sattelite processing pipeline and the sattelite receive infrastructure is performed based on queue naming conventions (assuming core would prefix it), but using AddSatelliteReceiver any name can be provided. This causes the wrong pipeline to be associated with the sattelite receiver.

Solution: https://github.com/Particular/NServiceBus.AzureService

[2017-02-01 00:19] SeanFeldman commented on #480
@agiudici1 also, you potentially try to work with a satellite queue that follows the NSB convention by building the queue transport address in the way described ([here](https://github.com/Particular/NServiceBus/blob/develop/src/NServiceBus.Core/DelayedDelivery/TimeoutManager/TimeoutManager.cs#L67-L68)). If you need a custom queue name, this workaround won't work.

[2017-02-01 18:52] HaripraghashSubramaniam opened #487 "Roundrobin strategy - 2 ASB namespaces with same subscription names"
Hi,

I have 2 ASB namespaces. I have a topic called XX on each one of them. The names of the topics are same. I have a Azure worker role using NSB ASB 7.1.1 and uses round robin strategy. This worker role creates a subscription called YY to topic XX on namespace1 and another subscription called YY to topic XX on namespace2. Here the creation of  subscription YY on topic XX on namespace2 fails beca

[2017-02-01 19:13] HaripraghashSubramaniam commented on #487
This is on similar lines to issue 411

[2017-02-01 23:28] #480 closed

[2017-02-02 00:05] boblangley commented on #487
@HaripraghashSubramaniam We have confirmed the problem and I have submitted PR #489 to resolve the issue. I will update this issue when we have released the patch.

[2017-02-02 22:46] HaripraghashSubramaniam opened #490 "Potential memory leak?"
@SeanFeldman I have uploaded a repro. Uses azure sdk 2.9.5 with vs2017RC ASB 7.1.1 and NSB 6.1.2. I have removed the ASB conn string and licence. Run the publisher solution to start publishing messages and  WorkerRole1 to receive them. Run it atleast for 15 mins to see the private bytes consumption increasing.

Publisher - https://drive.google.com/open?id=0B4SLN0ruS-dvVEJPSHByMmtnM0k
Subscriber -

[2017-02-03 13:15] tmasternak commented on #490
@HaripraghashSubramaniam after investigating this we found a bug in ASB 7.1.1 causing the memory leak. We are working on the patch and will inform you as soon as it is read.

[2017-02-03 13:18] HaripraghashSubramaniam commented on #490
Thank you. Is there a way to prioritize this? We are very close to production and this is a blocker for us to go live. I have thought of raising a non-critical support request using platinum licence that we have. But not sure if that helps.

[2017-02-03 13:30] tmasternak commented on #490
@HaripraghashSubramaniam we are already working on the fix. The patch should be released on Monday.

[2017-02-03 13:31] HaripraghashSubramaniam commented on #490
Thank you so much. Really helps

[2017-02-03 13:32] tmasternak commented on #490
I'll let you know as soon as it's available.

[2017-02-03 14:00] danielmarbach opened #493 "Memory leak due to TaskCompletionSource never completing when push interval is reached before batchSize"
Related to #490

## Who's affected
* All customers with throughput lower than 1000 msg per second

## Symptoms

The multi producer concurrent completion (MPCC) structure uses internally a `AsyncAutoResetEvent`. Whenever the batch Size is reached it sets that `AsyncAutoResetEvent`. Under low throughput the push interval is always reached before the batch size interval. In those cases tasks will be

[2017-02-03 14:02] danielmarbach commented on #490
@HaripraghashSubramaniam I created a new issue with a more detailed description. It can be found https://github.com/Particular/NServiceBus.AzureServiceBus/issues/493 thanks for raising this.

[2017-02-03 14:07] HaripraghashSubramaniam commented on #490
Thank you. Now it clears it as I was seeing a lot of the internal Async class objects in Gen 2

[2017-02-03 22:56] #493 closed

[2017-02-06 07:51] tmasternak commented on #490
@HaripraghashSubramaniam [7.1.3](https://github.com/Particular/NServiceBus.AzureServiceBus/releases/tag/7.1.3) release is out.

[2017-02-06 08:02] HaripraghashSubramaniam commented on #490
Thank you so much !!

[2017-02-10 21:40] boblangley commented on #487
@HaripraghashSubramaniam [NServiceBus.Azure.Transports.WindowsAzureServiceBus 7.1.4](https://www.nuget.org/packages/NServiceBus.Azure.Transports.WindowsAzureServiceBus/7.1.4) has been [released](https://github.com/Particular/NServiceBus.AzureServiceBus/releases/tag/7.1.4) which addresses this issue.

[2017-02-11 06:44] janpieterz commented on #273
We have encountered these this morning (and I think previously too). A couple of things I noticed:

- We are running two environments  (same Azure region but totally separate) and it occurred within around 3 minutes of each other on both environment, (maybe there was more something going wrong with ASB that NSB didn't handle very well more than anything else)
- Running V5 of NSB (and the other dep

[2017-02-11 09:54] janpieterz commented on #273
To add to that, this screenshot might show more (these are all the warnings, errors and fatals logged by NSB during the period).

You see that the endpoints that went down (Staging ITops.SMS and Production Gateway are the ones logging the most (the other endpoints send their heartbeats too, which is interesting), and it's only ITops.Email that has it once, (4th and 5th from bottom) but a different

[2017-02-11 15:21] abombss commented on #273
Based on the tracking ID you sent from the timeout the requests actually
never hit the server. We get these pretty regularly, I say regularly as in
a fraction of a percent of total traffic but we see some everyday.
Microsoft has been pretty unhelpful on these and we have no good ideas.

My assumption it's an issue with the ASB gateway of some kind. I can say
that over time, last 2 years the proble

[2017-02-11 15:28] janpieterz commented on #273
That is some great info, at least for me, @abombss, cheers.

It would be great if it could be handled gracefully, certainly because apparently the scheduling fails if 1 message does not get sent, which seems like a pretty serious defect.

[2017-02-11 15:29] SeanFeldman commented on #273
Jan-Pieter,

You can take the TrackingID and provide it to MSFT support to investigate
and provide you a reason for these.

[2017-02-11 15:34] janpieterz commented on #273
Thanks, I've asked them to look into it. Regardless though, it seems like not sending one message has a lot of effects that I wouldn't reasonably expect, with partial outage and a crucial feature (scheduling) essentially stopping, just for whatever reason that one message threw those errors.

Should I open another issue to look into that?

[2017-02-13 08:52] #490 closed

[2017-02-13 08:53] #487 closed

[2017-02-13 09:17] yvesgoeleven opened #499 "Unique subscription support"
Core v6 allows users to call MakeInstanceUniquelyAddressable, this will result in 2 input queues being created. 1 shared and 1 unique. Subscriptions always work at the shared level, so if multiple instances exist, the published message may end up on either one of the instances.

As MakeInstanceUniquelyAddressable is designed to support callbacks, this is how it should work.

But MakeInstanceUnique

[2017-02-13 09:24] Maqster6 commented on #336
Hi, could you provide the same filter but for Log4Net?

[2017-02-13 14:58] SeanFeldman commented on #273
I'm not sure if a separate issue would help. The fact that it was a scheduled message or not doesn't really make a difference. If broker can't handle the message (as in this case), it won't differentiate between messages. Ideally, being able to reproduce this issue would be the best. But we can't force ASB gateway to fail.

[2017-02-13 15:28] Scooletz commented on #478
Closing for now. Please reopen if you can reproduce the issue.

[2017-02-13 16:10] janpieterz commented on #273
Isn't it a bit more serious than just one message failing since it brings down the scheduler, and this schedule never fires again?

[2017-02-13 16:54] SeanFeldman commented on #273
@janpieterz is that a custom scheduler you're referring to?
Could you elaborate on how it's implemented and operating?

[2017-02-13 16:59] janpieterz commented on #273
No custom, NServiceBus built in scheduler. See below code, literal copy of what stopped after above exceptions.
Obviously the heartbeat isn't that big a deal (though our monitoring wasn't happy 😄 ), but there are other schedules that would be more troublesome.

[code]

[2017-02-13 17:11] SeanFeldman commented on #273
@janpieterz I see. I would not recommend this scheduler API to be used if you scale out your endpoints, but in your case you **do** want to execute logs on each endpoint.
Let me dig into this a bit more. Meanwhile, have a look at [monitoring and heartbeats](https://docs.particular.net/servicepulse/intro-endpoints-heartbeats) using ServiceControl.

[2017-02-13 18:24] SeanFeldman commented on #474
@JSCProjects when this is happening, do you get a fatal error logged from `SendResourceManager` starting with "A fatal exception occured while trying to send a message, the exception was..."? If you do, could you please share it?

[2017-02-13 21:22] SeanFeldman commented on #273
@janpieterz I have looked into [Scheduler API](https://docs.particular.net/nservicebus/scheduling/) and it states the following:

This means that NSB will reschedule every given interval (in your case 1min) a [ScheduledTask message](https://github.com/Particular/NServiceBus/blob/530706d3189a948a9dd55df65e3f073c775ecda6/src/NServiceBus.Core/Scheduling/ScheduledTaskMessageHandler.cs#L14) to re-run y

[2017-02-14 07:51] SeanFeldman commented on #474
@JSCProjects can you reproduce this behavior in a standalone project? Thank you.

[2017-02-14 13:46] yvesgoeleven opened #500 "EnableInstallers & queue creation difference v6"
According to @JSCProjects there is a difference in configuration that is undocumented. Core v5 would automatically create queues, where v6 does not.

https://twitter.com/JSCProjects/status/831497054249693184

[2017-02-27 15:33] SeanFeldman commented on #474
Closing for now. @JSCProjects please reopen if you can repro this issue. Thank you.

[2017-02-27 15:33] #474 closed

[2017-02-28 00:08] boblangley commented on #426
https://github.com/Particular/NServiceBus.Azure/pull/293 closes this issue, not https://github.com/Particular/NServiceBus.Azure/pull/290 which was abandoned.

[2017-02-28 00:08] #426 closed

[2017-03-01 20:44] SeanFeldman commented on #416
Core is guarding the transport against `Express` message by throwing an exception in [`MessageDurabilityFeature`](https://github.com/Particular/NServiceBus/blob/ef12fd88e66814172ffca2f743dc8c2b15aa0b46/src/NServiceBus.Core/Performance/MessageDurability/MessageDurabilityFeature.cs#L37). The transport doesn't need to do anything.

[2017-03-01 20:44] #416 closed

[2017-03-02 07:14] janpieterz opened #501 "QuotaExceededException occurs and takes down endpoint"
Currently 6 endpoints are set on the same namespace in Azure Service Bus. One endpoint went down last night.

No significant increase in behavior on the message bus at that time, the opposite actually, nothing was going on besides for each endpoint 1 heartbeat message a minute, this was our staging environment that no one was using at the point, confirmed by our application logs.

This seems to su

[2017-03-02 22:32] SeanFeldman commented on #501
Could you please provide a full stack trace?
`QuotaExceededException` usually would indicate that entity has reached its maximum capacity. Could you review the namespace and see if there are queues that reached the maximum size?

[2017-03-03 08:20] janpieterz commented on #501
Sure thing! It is a connection quota exceeded, but to be sure I've verified all queues and topics to be empty, including no dead lettered ones.

Below the stack traces (there were multiple). Interestingly, it started with a timeout exception:
[code]

[code]

[code]

[2017-03-03 17:18] SeanFeldman commented on #501
@janpieterz [`QuotaExceededException` ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-exceptions#quotaexceededexception) is a general one, having details helps. Thank you.

Hard to identify why you're running out of a [1K connections](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quotas). To understand why this could be happening, cou

[2017-03-03 18:15] SeanFeldman opened #502 "ASB 6 - number of factories is not configurable"
In version 6 of ASB transport number of factories per address is [hard-coded to 4](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/2599f99b0a4b882b6bdc1679365ea34fc2aa89ee/src/Transport/Creation/Clients/ManageMessagingFactoriesLifeCycle.cs#L9). This could potentially lead to exhausting connections to a namespace.

#501 could be potentially related to this.

[2017-03-06 08:06] janpieterz commented on #501
Sure:

1. 13 Queues, 6 Topics,  25 Subscriptions
2. We have a development tool that sometimes connect to it, though this runs with only one connection. The ServiceBusExplorer connects to it too.  We do have a monitoring tool that connects to it that could be suspect to leaking connections, are you aware of any method of easily diagnosing the connections or is it simply looking at the code until on

[2017-03-06 19:14] SeanFeldman opened #503 "Azure "data distribution" article has issues"
<sup>*Moved from https://github.com/Particular/docs.particular.net/issues/2411 opened by @DavidBoike on [06 Feb 2017 16:25 UTC](https://github.com/Particular/docs.particular.net/issues/2411)*</sup>
The Azure section contains an article called [Data distribution](https://docs.particular.net/nservicebus/azure/data-distribution) but it's got some issues:

* The [V6 version](https://docs.particular.ne

[2017-03-06 19:14] SeanFeldman commented on #503
<sup>*@SeanFeldman commented on <a id="issuecomment-284433530" href="503#user-content-issuecomment-284433530">06 Mar 2017 15:41 UTC</a>*</sup>
A warning has been added to the content.
Need to review this doco.

[2017-03-06 19:17] SeanFeldman opened #504 "Create a MSMQ to ASB bridge guidance / sample"
<sup>*Moved from https://github.com/Particular/docs.particular.net/issues/2036 opened by @indualagarsamy on [11 Oct 2016 19:02 UTC](https://github.com/Particular/docs.particular.net/issues/2036)*</sup>
We have a a MSMQ to Sql relay. We've been getting similar requests for MSMQ to Azure bridging.
Create adequate doco / sample to illustrate it:

Link to Google Group:
https://groups.google.com/forum/

[2017-03-06 19:17] SeanFeldman commented on #504
<sup>*@SeanFeldman commented on <a id="issuecomment-284432194" href="504#user-content-issuecomment-284432194">06 Mar 2017 15:37 UTC</a>*</sup>
Multiple options, one of them is [NServiceBus.Raw](https://docs.particular.net/nservicebus/rawmessaging/)

[2017-03-06 19:20] SeanFeldman opened #505 "[ASB] Partitioning strategies and fail over namespace clarification"
<sup>*Moved from https://github.com/Particular/docs.particular.net/issues/2239 opened by @SeanFeldman on [14 Nov 2016 20:18 UTC](https://github.com/Particular/docs.particular.net/issues/2239)*</sup>
Built-in  partitioning strategies other than `FailOverNamespacePartitioning` do not support fail over namespaces.

Needs to be clarified in [Multiple Namespaces Support](https://docs.particular.net/nse

[2017-03-06 19:22] SeanFeldman opened #506 "[ASB] Partitioning strategy for HA and failover both"
<sup>*Moved from https://github.com/Particular/docs.particular.net/issues/2240 opened by @SeanFeldman on [14 Nov 2016 20:21 UTC](https://github.com/Particular/docs.particular.net/issues/2240)*</sup>
Document creation of a namespace partitioning strategy that supports both HA and failover in a sample.

Connects to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/586

[2017-03-06 19:24] SeanFeldman opened #507 "[ASB] Update Custom Partitioning Strategy sample"
<sup>*Moved from https://github.com/Particular/docs.particular.net/issues/2241 opened by @SeanFeldman on [14 Nov 2016 20:23 UTC](https://github.com/Particular/docs.particular.net/issues/2241)*</sup>
- [ ] Existing [sample for Custom Partitioning Strategy](https://docs.particular.net/samples/azure/custom-partitioning-asb/) should be explained/renamed as "Data Replication" strategy.
- [x] Existing s

[2017-03-06 19:24] SeanFeldman commented on #507
<sup>*@weralabaj commented on <a id="issuecomment-263235415" href="507#user-content-issuecomment-263235415">28 Nov 2016 10:25 UTC</a>*</sup>

@SeanFeldman if that's just a cosmetic/editing I could help

---
<sup>*@SeanFeldman commented on <a id="issuecomment-263327153" href="507#user-content-issuecomment-263327153">28 Nov 2016 16:57 UTC</a>*</sup>
@weralabaj absolutely. While reviewed the sample,

[2017-03-06 19:46] SeanFeldman commented on #502
If implemented, it would be a change to the existing API (addition). Will require a new minor.

[2017-03-06 19:54] SeanFeldman commented on #501
@janpieterz based on the info, endpoints are well under the max limit.

I would suggest to install [ASB Performance Counters](https://www.nuget.org/packages/WindowsAzure.ServiceBus.PerformanceCounters) and look at the `MessageFactory Count` counter. It would indicate the number of open connections from a given machine. See what the counter value w/o the support tool reports, and with it.

[2017-03-07 07:28] janpieterz commented on #501
@SeanFeldman great stuff, seems like exactly what I needed.

I've been running around trying to get them running, but since the support tool and the monitoring tool (my highest suspects currently) both don't run in a web rol/worker role (they're just windows service/console tools) I've been unable to get it going.

Any hint/pointer to get them running in those? Can I run them remotely on my Namesp

[2017-03-07 07:48] SeanFeldman commented on #501
This definitely should provide you with a little more details on what's
happening.

Sine these are the client perf counters, they'd need to be presented on the
machine and channeled via diagnostics like any other perf counters.

[2017-03-07 07:50] janpieterz commented on #501
Alright. Was hoping I could circumvent updating my NSB host and use any of the other machines as the 'source' for the counters.

[2017-03-07 14:54] SeanFeldman commented on #501
You could always RDP into that instance and install these perf counters. Monitoring them would be also as easy as running the PerfMonitor tool. Granted you have RDP enabled and OK with these counters not surviving reboots.

[2017-03-08 08:54] janpieterz commented on #501
Just confirmed, only one connection from the monitoring tool during it's whole lifetime.  The endpoints seem to take only about 20 connections (not sure if installing perf counter for one instance counts all connections, I tried 3 of the 6 endpoints and got 20 as the MessageFactory count).

Makes this issue hard to pinpoint of course

[2017-03-08 18:10] SeanFeldman commented on #501
@janpieterz just to be sure - when you say "instance" do you mean other machines/VM/service cloud instance? You need to have the counter to be enabled all of them. If you using a shared host, the all multi-hosted endpoints are included. If you scale out number of CS instances, each one of them should have the counter.

[2017-03-09 07:52] janpieterz commented on #501
I meant per host environment (only running 1 host with those 6 endpoints for now).
Essentially ran the counters on all VMs where I had anything running that connected to the namespace.

Maybe it was just a fluke from ASB's side, or some scenario slowly had some connections built up that is currently not happening (odd thing was of course that nothing had happened on the environment).

[2017-03-09 17:06] SeanFeldman commented on #501
@janpieterz have you got anything from MSFT with those TrackingIDs? They could shed some light at what was happening on the broker? Aside from that, I'm truly out of ideas.

[2017-03-10 09:28] janpieterz commented on #501
Nothing specific so far. I think we can close it and if it occurs again or with other people there's some history.

[2017-03-10 09:28] #501 closed

[2017-03-10 19:56] onesadjam opened #508 "ASB Transport may attempt to update immutable properties of existing queues / topics"
BUG: Transport will attempt to update immutable properties of entity, resulting in exception.

Encountered in version 7.1.4, but would appear in previous releases as well.

If a queue or topic exists and the requested entity definition is different from the existing definition, the transport will attempt to update the entity.  Some properties are immutable:

- RequiresDuplicateDetection
- EnablePa

[2017-03-11 18:18] SeanFeldman commented on #508
Thank you @onesadjam.
Will look into this and PR #509

[2017-03-13 13:37] agiudici1 opened #510 "Endpoint stops receiving messages after transport exception"
We are using ASB transport and we observed that for at least 3 different endpoints after an exception from the transport, the endpoint keeps running but it stops receiving messages. The log files for these endpoints show the same event sequence:

1. WARN NServiceBus.Transport.AzureServiceBus.RepeatedFailuresOverTimeCircuitBreaker
2. WARN NServiceBus.Transport.AzureServiceBus.RepeatedFailuresOverTi

[2017-03-13 14:59] yvesgoeleven commented on #510
What host are you using?

The default critical error behavior is to stop the message pump, but not the process. If you want to change this behavior so that it crashes the process you can follow the 'custom handling' instructions mentioned here. https://docs.particular.net/nservicebus/hosting/critical-errors

The source of the exception seems to point to a local networking or connectivity issue: "T

[2017-03-13 15:58] agiudici1 commented on #510
We are self hosting as a Webjob in a Azure App Service.

We could try your recommendation, is that a critical error? Meaning that it invokes criticalError.Raise, so we can crash the process?

Thanks

[2017-03-13 16:00] yvesgoeleven commented on #510
@agiudici1 exactly, the FailFast call in the example implementation will crash the process as expected

[2017-03-13 16:02] SeanFeldman commented on #502
The setting is configurable in v 7.x
Closing for now.

[2017-03-13 16:02] #502 closed

[2017-03-13 16:39] agiudici1 commented on #510
I'll try that. Thank you.

[2017-03-13 16:39] #510 closed

[2017-03-13 20:07] SeanFeldman commented on #508
Added a fix for `RequiresSession` in PR #511

[2017-03-13 22:03] SeanFeldman commented on #508
@onesadjam hotfixes are staged and will be released shortly.

[2017-03-13 22:05] SeanFeldman commented on #508
Closing this issue. For the relevant hotfixes, subscribe to #512 or #513

[2017-03-13 22:05] #508 closed

[2017-03-16 05:54] SeanFeldman commented on #508
@onesadjam 7.1.5 release has [gone out](https://www.nuget.org/packages/NServiceBus.Azure.Transports.WindowsAzureServiceBus/7.1.5).

[2017-03-16 13:14] onesadjam commented on #508
@SeanFeldman Fantastic, thanks for your help!

[2017-03-17 15:33] SeanFeldman opened #514 "Upgrade ASB to version 4.0.0"
`WindowsAzure.ServiceBus` v4.0.0 was released with breaking (for EventHubs) was released

PoA:
- [x] Create a `release-7.2.0` (PR #515)
- [x] Mark PRs with the milestone
- [x] Bump up the ASB library to 4.* https://www.nuget.org/packages/WindowsAzure.ServiceBus/
- [x] Smoke test
- [x] Create `support-7.1` branch
- [x] Merge to `develop` (was done as a separate PR since `develop` is a different bas

[2017-03-21 22:23] #514 closed

[2017-03-23 07:02] SeanFeldman commented on #306
AMQP protocol still doesn't support transactions/send-via.

[2017-04-06 22:09] SeanFeldman opened #521 "The bundles feature for the ForwardingTopology is imposing unnecessary limitations on the endpoints"
The original design of the `ForwardingTopology` was based on the [ASB documentation stating that](https://github.com/Microsoft/azure-docs/blame/07b6cd7b2c11079db09fa6851b1c096a9a8e3596/articles/service-bus-messaging/service-bus-faq.md#L83):
![image](https://cloud.githubusercontent.com/assets/1309622/24777389/63c8552a-1ae2-11e7-804b-f1d61cf5ac74.png)

The [documentation is now refreshed](https://do

[2017-04-07 14:29] janpieterz opened #522 "Startup speed is relatively slow"
Just converted endpoints from V5 to V6, and am noticing the startup speed being relatievly slow.
I'm using the new forwarding topology, and it seems like it takes a long time to add all those subscription rules (even when they're already there).

[2017-04-09 04:53] SeanFeldman commented on #522
@janpieterz could you please provide a bit more information?
- Stats comparison (v5 vs v6)
- What the topology looks like?
- If possible to share some repro we can base of?

Please note [this issue](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/521), it could also reduce the bootstrapping time

[2017-04-09 07:21] janpieterz commented on #522
Sure!
Below ones are the same endpoint on the same hardware (production/staging). Differences would be V5 upgrade and move to NSB host instead of the Azure Cloud host.

V5:
[code]
V6
[code]

Topology is 6 endpoints, of which only two subscribe (this is one of those).

What I see in the logging is that these take up most of the time: https://github.com/Particular/NServiceBus.AzureServiceBus/blob/de

[2017-04-09 10:11] SeanFeldman commented on #522
The current seam with NServiceBus core is to [receive a single subscription](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/fbe70f0a2d23947c61fa01283ead4c5467073ebf/src/Transport/Seam/SubscriptionManager.cs#L21) a time.

Unfortunately this is not an option due to ASB's API limitation. [Rules cannot be queries](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/fbe70f0a2

[2017-04-09 10:14] janpieterz commented on #522
Ah, that's a shame, might just be something we'll have to bite the bullet on then.

I'll try increasing the HTTP connections, see if it changes.

1. This runs on a group of A1's, which works fine for the day-to-day run.
2. 54 seconds is indeed for 1 endpoint with 17 subscriptions.

[2017-04-10 17:59] SeanFeldman commented on #522
We're planning bro change that in the future.
For now, could you please let me know if increasing max http connections helped or not. If it doesn't, I'll try to reproduce it (unless you have a simple repro to share).

[2017-04-11 09:25] janpieterz commented on #522
Just confirmed it, 2 different endpoints with 2 deployments before and after, no real difference. Keep in mind the A1's are single core machines so if there is a multi-threaded benefit, it won't be as significant here.

I've send you an endpoint to your email, showcasing the behaviour, filling out the config values with a servicebus. table storage and sql connection string should display.

[2017-04-11 18:37] dasjestyr commented on #45
how do you change the batch size? I didn't see it on the doc

[2017-04-11 21:32] boblangley commented on #45
@dasjestyr

For version 7 of the transport: https://docs.particular.net/nservicebus/azure-service-bus/configuration/full#controlling-connectivity-message-receivers Use the `PrefetchCount` setting to adjust the batch size.

For version 6 of the transport: https://docs.particular.net/nservicebus/azure-service-bus/configuration/azureservicebusqueueconfig Use the `BatchCount` setting to adjust the bat

[2017-04-12 04:01] SeanFeldman commented on #522
That might be it.
In v7 of the transport we [set the throttling](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/e88d11c562e786fe188bc0ef163a8642c6fb305e/src/Transport/Seam/MessagePump.cs#L80) to the maximum concurrency of the endpoint. By default, it will be `max(2, num-of-logical-processors)`.

[2017-04-12 06:40] janpieterz commented on #522
Yeah, it probably isn't that high 😄
We're changing our topology already to allow more cores per unit while maintaining two instances (hosting a web the services on the same VM, twice).

[2017-04-12 16:22] dasjestyr commented on #45
@boblangley (using 6.x) there doesn't appear to be a `BatchCount` setting. There's a `BatchSize` setting but it doesn't seem to work; I'm still getting the exception stating that I'm attempting to send more than 100 messages in a single transaction. The description sounds like it only applies to pulling messages off the queue rather than placing them on the queue.

[2017-04-13 04:03] SeanFeldman commented on #45
@dasjestyr `BatchSize` is intended  for receiving operations. You're
sending a batch of messages and ASB does not allow more than 100 messages
to be sent in a single operation. It's addressed in NSB.ASB v7 by splitting
the batches larger than 100 messages into chunks. In v6 you'll need to do
it yourself.

[2017-04-13 16:23] dasjestyr commented on #45
Ive seen allusions to doing this myself, but I haven't seen how. Can you help me out with something a bit more concrete?

[2017-04-14 00:38] SeanFeldman commented on #45
The code where you create and dispatch your messages, do not send more than
100 messages at a time. Without seeing your code, more than that be just a
guess 😃

On Apr 13, 2017 11:23, "Jeremy Stafford" <notifications@github.com> wrote:

[2017-04-14 01:13] dasjestyr commented on #45
Well, I mean, I'm not lol. I "send" them to the bus one at a time, but it appears to not actually send until it has a bunch batched up or there's lull or something. In other words, if I send one and call it day, then it's fine, but if I continue to send them rapid fire, then it appears to wait for about a thousand to pool up before attempting to send it.

[2017-04-14 02:20] SeanFeldman commented on #45
Could you share your code (or a repro)?
Feel free to send it to sean.feldman@particular.net

On Apr 13, 2017 20:13, "Jeremy Stafford" <notifications@github.com> wrote:

Well, I mean, I'm not lol. I "send" them to the bus one at a time, but it
appears to not actually send until it has a bunch batched up or there's
lull or something. In other words, if I send one and call it day, then it's
fine, but

[2017-04-17 17:08] SeanFeldman commented on #522
@janpieterz what topology you're moving to? If you're using the Forwarding topology, you might be affected by [this issue](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/521).

[2017-04-17 22:30] SeanFeldman commented on #521
Wanted to follow the same approach the core is taking for obsoletes (we've used it inconsistently in this transports) and discussed it with @bording. During our discussion, going through the reasons for the change, one scenario was touched that we haven't discussed.

Assuming the defaults are changing and we create a single bundle (`bundle-1` by default rather than two), when upgrading subscribers

[2017-04-18 02:36] SeanFeldman commented on #522
@janpieterz thanks for the repro. I've looked into it and these are the conclusions I have.

- V6 vs V7 of the ASB - with V6 `EndpointOrientedTopology` was the default and the only one. It created a subscription per event type with a single rule. Subscriptions could be queried. With V7 and `ForwardingTopology` there is a single subscription, but there's no way to query for the rules. Upon update,

[2017-04-18 05:42] janpieterz commented on #522
Thanks a lot for the thorough investigation! Odd that MSFT does not open up that bit of the API, but that is obviously something to work around!

You're input is much appreciated, I'll decrease the bundle and keep an eye on the issue. Thanks.

[2017-04-18 06:06] SeanFeldman commented on #522
@janpieterz thank you for the pointer in the right direction. With this, I'm going to review how we update subscriptions and implement it using [`NamespaceManager.GetRulesAsync`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.namespacemanager.getrulesasync?view=azureservicebus-4.0.0)

[2017-04-18 06:59] danielmarbach commented on #521
I'd say we can do the following:

1. Deprecate all config APIs
1. Update documentation (samples?) and guidance.
1. Review configuration API for the shared topic

Still create two bundles by default. Enable an Opt-in for one bundle, Write migration and potential failure scenario guidelines and slowly transition over to single bundle approach.

Another option would be to leave the two bundles but do

[2017-04-18 09:10] yvesgoeleven commented on #521
The downsides are:
- slower startup time as the entities need to be checked/created
- you reach your namespace connection limit faster

[2017-04-18 13:57] yvesgoeleven commented on #521
Imo we should add a startup check to validate that the number of entities configured actually matches the number of entities in the bundle (and throw if it is not the case). E.g. user could configure 5 entities first, then 2 on future deployment and get into this scenario as well.

[2017-04-18 14:02] SeanFeldman commented on #521
Like the idea @yvesgoeleven
Especially since we've got the possibility of miss-configuration already in place that can cause the same situation as described above. The startup check [would validate](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.namespacemanager.getsubscriptionsasync?view=azureservicebus-4.0.0#Microsoft_ServiceBus_NamespaceManager_GetSubscriptionsAsync_System_Str

[2017-04-18 14:03] danielmarbach commented on #521
And therefore make the startup even slower with that additional check?

[2017-04-18 14:05] SeanFeldman commented on #521
I believe this is a different issue because its already in the transport. Has nothing to do with the number of topics in the bundle from a connectivity point of view, but with missconfigured endpoints for number of topics.

[2017-04-18 14:11] SeanFeldman opened #524 "The bundles feature for the ForwardingTopology can be missconfigured on different endpoints causing message loss"
## Who's affected

You are affected if you are using ForwardingTopology and custom number of topics in bundle using [`NumberOfEntitiesInBundle(int)` API](https://docs.particular.net/nservicebus/azure-service-bus/configuration/full#configuring-the-topology-forwarding-topology).

## Symptoms

Misconfigured publisher and subscriber cause events to be posted to the topics that are not listened to, cau

[2017-04-18 18:57] SeanFeldman commented on #521
@danielmarbach the discussion about the check is moving to #524.
Let's keep this issue focused on the future of the API.

Already listed in actions to take in the [general description](https://github.com/Particular/NServiceBus.AzureServiceBus/issues/521#issue-220048013) as items 1, 3, and 4.

Opt-in for one bundle - do you mean to have a configuration that is _different_ from the configurations we

[2017-04-19 15:58] SeanFeldman commented on #524
At maintainers sync, the following was proposed as a part of potential hotfix:

1. Subscriber(s) to scan all the topics in the bundle and subscriber to all (forwarding, cheap)
1. Obsolete Bundle API with proper messages

[2017-04-19 22:21] SeanFeldman opened #525 "SendAtomicWithReceive documentation is hard to understand"
The diagram for the `SendAtomicWithReceive` ([Understanding internal transactions and delivery guarantees page](https://docs.particular.net/nservicebus/azure-service-bus/understanding-transactions-and-delivery-guarantees)) is very hard to understand. It requires understanding of core pipelines, context of the transactionscope and ASB relationship.

Suggested to rework this documentation to break d

[2017-04-19 22:22] SeanFeldman commented on #525
@yvesgoeleven could you take a stab at this? I can help from Monday.

[2017-04-20 15:51] SeanFeldman opened #526 "Create/update subscriptions in bulk"
Original issue: #522

With the current NSB core API it is not possible.
Once API allows to do so (core issue https://github.com/Particular/NServiceBus/issues/4632), we should be able address this

[2017-04-20 15:52] SeanFeldman commented on #522
`NamespaceManager.GetRulesAsync()` with a `filter` options is broken at the ASB client level. 😞

Alternative is to retrieve all the rules per subscriber and perform client-side evaluation. Given that endpoint event subscriptions are created one-by-one, it will mean fetching all the rules for each subscription. This could be less optimal than using the `filter`-ed option and not much different from

[2017-04-20 15:52] #522 closed

[2017-04-20 19:29] SeanFeldman opened #527 "Feedback: ASB 'Sanitization' documentation"
<sup>*Moved from https://github.com/Particular/docs.particular.net/issues/2655 opened by @SeanFeldman on [20 Apr 2017 19:25 UTC](https://github.com/Particular/docs.particular.net/issues/2655)*</sup>
Feedback for 'Sanitization' https://docs.particular.net/nservicebus/azure-service-bus/sanitization

Location in GitHub: https://github.com/Particular/docs.particular.net/blob/master/nservicebus/azure-s

[2017-04-20 20:13] SeanFeldman commented on #527
Fixed via https://github.com/Particular/docs.particular.net/commit/832ac1e4d6a9a047ba51c1e702c0383023b99040

[2017-04-20 20:13] #527 closed

[2017-04-21 11:10] yvesgoeleven commented on #525
I have reworded it. Don't think the diagram needs to be split, all you can do is leave the curly braces representing the scope on/off but I don't see much value in that.

[2017-04-21 14:17] SeanFeldman commented on #526
**Discussed during maintainers sync**:
Upon startup, retrieve subscriptions and cache for later. When requests for subscription are coming in, validate against the cache. Requests to unsubscribe would also purge the entry from the cache.

[2017-04-21 14:27] yvesgoeleven commented on #524
Note: The above is not completely fool proof. If publisher reconfigures the number of bundles without upgrading then subscriber may still miss messages.

[2017-04-24 17:44] SeanFeldman commented on #524
@yvesgoeleven have a look at #3 in the https://github.com/Particular/NServiceBus.AzureServiceBus/issues/524#issuecomment-295322130 - it will address the edge case you referred to.

[2017-04-25 08:42] yvesgoeleven commented on #524
@SeanFeldman good idea, allows to drain the second topic before we stop using it

[2017-04-25 09:02] yvesgoeleven commented on #524
created a branch for this issue https://github.com/Particular/NServiceBus.AzureServiceBus/issues/524

[2017-04-25 09:08] yvesgoeleven commented on #524
This requires the transport to have manage rights, what will we do if we don't have manage rights?

[2017-04-25 12:33] yvesgoeleven commented on #524
From first investigation it appears that ForwardingTopology.RunPreStartupChecks might be the right place to check for the bundles configuration (there we know if we get manage rights or not)

[2017-04-25 13:14] SeanFeldman commented on #524
I already had a branch for this that wasn't pushed 😀

[2017-04-25 13:46] yvesgoeleven opened #528 "Verify that we can run without manage rights"
At first sight, while reviewing custom check code for https://github.com/Particular/NServiceBus.AzureServiceBus/issues/524, we discovered there is no check to not fail if queue creation is off and we have a connectionstring without manage rights.

Verify that this scenario works as expected.

[2017-04-25 15:48] SeanFeldman commented on #524
`hotfix-7.2.1` branch replaced `prevent-bundle-misconfiguration`.

[2017-04-26 02:18] SeanFeldman commented on #524
Pre startup checks are executed _after_ we create topology sections.
Because of that, we can't scan for topics in `ForwardingTopology.RunPreStartupChecks()` but need to do it before, in `ForwardingTopology.GetQueueCreatorFactory()` (which is executed by `TransportInfrastructure.ConfigureSendInfrastructure()` that is first calling `topology.GetQueueCreatorFactory()` and only after that `topology.Ru

[2017-04-26 04:09] indualagarsamy commented on #500
@yvesgoeleven - is this a bug or does this need to be documented?

[2017-04-26 06:52] yvesgoeleven commented on #500
@indualagarsamy From my perspective it just needs doco

[2017-04-26 18:26] SeanFeldman opened #530 "Duplication of Timeout Messages"
Original issue raised in GG: https://groups.google.com/forum/#!topic/particularsoftware/gpDXlWqwWMg

Description:
NSB 6.x / ASB 7.x

[2017-04-26 18:50] SeanFeldman commented on #530
Distilled version to repro the issue:

Endpoint gets 5K messages. For each message, a short (1 minute) timeout is scheduled. When timeouts are processed, a replacement timeout message is issued. Over time, number of timeouts starts to grow (duplicates).

Solution with using message id deduplication (ASB native feature) helped, proving that endpoint is sending duplicates.

@daerath have I summed it

[2017-04-26 20:53] daerath opened #531 "NServiceBus stops dequeueing messages from Azure Service Bus queues"
We've seen this issue off and on for a while now (in both NSB 5 and NSB 6). I have some new information though to does narrow things down a bit (hopefully).

First, here are the versions of what should be the relevant nugets:

[code]

Ok, the behavior is this. We have cloud services that send and receive messages via Azure Service Bus. Then, without us changing anything (no source code changes, no

[2017-04-26 23:11] SeanFeldman commented on #531
@daerath there's a reference to the Azure DataBus. Do both services that demonstrate this behavior use azure databus?

[2017-04-26 23:30] SeanFeldman commented on #530
@daerath what persistence are you using when running this?

[2017-04-26 23:40] SeanFeldman commented on #531
Next time you see this freeze, could you take a memory dump and share with us?

[2017-04-27 11:14] daerath commented on #531
Both services do use database, however we implemented a feature in our base command that will put the entire command in Azure Service Bus if it doesn't exceed the command size limit.  Basically, there are two Argument properties.  One that is linked to DataBus and another that is not.  The one linked to the databus will return null if the message will fit onto the bus with all of its arguments.  I

[2017-04-27 11:19] daerath commented on #531
I was able to open a case with MSFT on this as well and sent in the timestamps when I saw a number of "freeze" issues.  They responded back that during the period of time of one of them they saw a number of timeouts:

• sends and receives occur normally until...
• 19:35:56 timeout followed by entity abort and reload
• 19:36:18 sends and receives resume and continue normally until...
• 19:38:18 tim

[2017-04-28 09:26] yvesgoeleven commented on #531
@daerath we are aware of an issue with the databus that can cause behavior like this over time, can you first validate that the following is not true:

If messages with databus entities have no time to live specified the entities will be stored in blob storage until the end of time. The databus cleanup mechanism needs to query all the blobs before it can see which are expired. But as no TTL is spe

[2017-04-28 14:40] daerath commented on #530
Correct.  However the timeout delay we use for prod is between 5 and 7.5 minutes (the random drift helps spread work out to avoid clumping), but we've seen duplicates with short timeouts (1 minute) and longer ones (7.5 minutes).

Correct in that we are using the native ASB deduplication feature to prevent this problem.

We're using NHibernatePersistence for this service.  That's where we're storin

[2017-04-28 14:56] daerath commented on #531
@yvesgoeleven Our current storage in databus is 2186 files totaling 3.99GB.  However, in my test environment I had 200 blobs or so (tops) because my test messages almost entirely fit into memory.  I didn’t make note of the total size before I cleared that one, but I can’t believe it would be close to the size in production.  I queried the account with Azure Storage Explorer.  Those counts should b

[2017-04-28 15:20] SeanFeldman commented on #531
@daerath databus has a [design issue](https://github.com/Particular/NServiceBus.DataBus.AzureBlobStorage/issues/14) you could subscribe to. If messages do not have [TTBR](https://docs.particular.net/nservicebus/messaging/discard-old-messages) defined, blobs will remain in the storage and you'd have to clean them up just like you've described. When you scale your endpoints, current implementation c

[2017-04-28 16:42] daerath commented on #531
We're not running our out of band cleanup tool any longer.  The cleanup is being done by NServiceBus at this point.  We have one command with an explicit TTBR (set to 4min, coincidentally generated by the service that seems to freeze randomly).  None of the other commands have TTBR set.

Now that I think about it.  That command will almost always (if not always) be small enough to not get a blob c

[2017-04-28 17:11] daerath commented on #531
One minor update.  Adding this here in case someone is responding to my rather long message above.  =)

Why would only one service show this behavior and none of the others?  For me that's the real "WTF!???" part of this.  I have seen it one time (in the last year) on another service, but once and only once.  That happened two days ago but I'm not sure that was the same cause (it could have been,

[2017-04-28 17:40] SeanFeldman commented on #530
@daerath could you please share how did you implement your native de-duplication? Did you implement a custom `IConvertOutgoingMessagesToBrokeredMessages`?

[2017-04-28 18:05] daerath commented on #530
Attached.  We implemented it as a pipeline step in NSB5 and ported it over for NSB6.  It works on the IOutgoingLogicalMessageContext that adjusts the context.Headers MessageId before returning next().  Attached instead of pasting it here.

[dedup.txt](https://github.com/Particular/NServiceBus.AzureServiceBus/files/965193/dedup.txt)

[2017-04-28 18:17] SeanFeldman commented on #530
@daerath this doesn't really help since ASB's native de-dup is based on the physical message ID, which ASB transport set's to a [random GUID for every outgoing message](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/e5f8c315adc2c6703ace760b72e975b0d2307c73/src/Transport/Sending/DefaultBatchedOperationsToBrokeredMessagesConverter.cs#L30). This happens regardless of the NSB message I

[2017-04-28 18:20] daerath commented on #530
That's very odd then.  It absolutely worked in our NSB5 implementation.  Did the exposed properties change in NSB6?  It's possible I ported it over incorrectly as that code did change somewhat.  Let me check out version history to see if this isn't just a bug in the NSB6 version.

[2017-04-28 18:28] SeanFeldman commented on #530
In NSB v5 [that was the case](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/support-6.4/src/Transport/Utils/BrokeredMessageConverter.cs#L107) @daerath as the transport used the message ID set by NSB for the physical message (`BrokeredMessage`).

In NSB v6, it's no longer the case.

[2017-04-28 18:36] daerath commented on #530
Ah.  So...  It sounds like our old method won't work in 6.0.  That's definitely going to be a blocker for us to complete the upgrade.  Is there any possibility of exposing a property to let us set the physical message ID?  Alternately, is there a sample relating to IConvertOutgoingMessagesToBrokeredMessages that would give details on how we could set that value?

[2017-04-28 18:44] SeanFeldman commented on #530
With NSB 6, there are [4 transport transaction guarantees](https://docs.particular.net/nservicebus/transports/transactions). With ASB transport, we support [`SendAtomicWithReceive`](https://docs.particular.net/nservicebus/azure-service-bus/understanding-transactions-and-delivery-guarantees) which should work for your scenario. By working around the issue with the physical message ID and native de-

[2017-04-28 18:47] daerath commented on #530
Oh, I am in absolute agreement.  I would much rather the root duplication cause be fixed, but until it is, and since we're already using SendAtomicWithReceive, I'm trying to find a way to not block our deployment.

[2017-05-01 19:29] SeanFeldman commented on #530
@daerath I've managed to narrow this down. This a bug in the transport NSB.ASB.
I'll raise an issue and link to here.

[2017-05-01 20:42] daerath commented on #530
Fantastic!  I'm trying a scale up approach to repro the other issue, and will try to make a stock msn repro as well.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sean Feldman <notifications@github.com>
Sent: Monday, May 1, 2017 3:29:43 PM
To: Particular/NServiceBus.AzureServiceBus
Cc: daerath; Mention
Subject: Re: [Particular/NServiceBus.AzureServiceBus]

[2017-05-01 21:07] SeanFeldman opened #532 "Duplicates with SendsAtomicWithReceive transport transaction mode"
Related to https://github.com/Particular/NServiceBus.AzureServiceBus/issues/530

## Who's affected

Anyone using Azure Service Bus transport with `SendsAtomicWithReceive` transaction guarantee

## Symptoms

Incoming message is processed, **not** completed (a warning about message lost lock is logged), but the outgoing messages are dispatched.
As a result of that, incoming message is re-processed,

[2017-05-01 21:08] SeanFeldman commented on #530
@daerath issue #532 is what we've got. You don't need to scale up to repro it. I've managed to repro within less than an hour with a single queue and [this code](https://github.com/SeanFeldman/Duplicates.Repros).

[2017-05-01 22:53] daerath commented on #531
@SeanFeldman Ah, sorry about confusing the other thread (the one about duplicates).  I meant, I am starting a scale-up approach to try and repro this issue with our code and a non-customized NSB version to try and pinpoint the issue.  It *does* appear to be related to load.  Part of this test is going to have a version with DataBus and one without.

[2017-05-01 22:55] daerath commented on #532
@SeanFeldman Sweet.  Great catch!

[2017-05-01 23:07] SeanFeldman commented on #530
Closing this in favor of #532

[2017-05-01 23:07] #530 closed

[2017-05-02 09:19] yvesgoeleven commented on #531
No the databus issue would definitly not show immediately, it takes a lot of time before it occurs. If the cleanup is scheduled every minute and each cleanup would take infinite time (and the overlap fix is not applied) then it would still take 64000 minutes to exhaust all tcp connections...

[2017-05-03 07:24] janpieterz opened #536 "Discussion - Handling Failed to Dispatch exception less severely"
So I might be looking at below logs incorrectly, but it seems to me the logging could be improved to be less shocking.

The error log says `Failed to dispatch a batch with the following message IDs: 77edab5d-0f5b-4b4e-8ebf-ce66b397b13c`. Then NSB smartly tries to abandon this, which fails too because of the same (probably) connection issue. Then we get the log `Abandoning brokered message ce33a65d

[2017-05-03 07:34] yvesgoeleven commented on #536
@janpieterz it really depends on how the transport is configured. you can configure it so that the second step doesn't happen when the first occurs. In order to merge these logs we would have to bleed receive configuration info and related logic into the dispatcher, blending concerns.

[2017-05-03 07:38] janpieterz commented on #536
True, I was afraid of killing/blending those abstractions.
With the above transport config, would it be safe to just ignore this one since it would always get reprocessed?

[2017-05-03 07:50] yvesgoeleven commented on #536
@janpieterz yes you can ignore it, as long as peek lock is on you won't loose any messages. even if the failures keep occuring over and over the message will still be in the dlq and can be resubmitted for processing

[2017-05-03 09:54] janpieterz commented on #536
Great, thanks!

[2017-05-03 09:54] #536 closed

[2017-05-04 09:44] yvesgoeleven opened #539 "Automatically reduce number of receive clients when concurrency limit is lower"
Currently the default values for concurrency limit & number of receivers are both equal to the number of cores on the machine. If users lower the concurrency limit and not the number of receivers, then those receivers will still each pick up a message which is then 'blocked' by a semaphore to respect the concurrency limit.

This is wastefull in resources, and can lead to increased message lock los

[2017-05-04 09:49] JSCProjects opened #540 "DataBus headers are getting removed"
We send files via nservicebus & (azure)databus to azure service bus, but in some occasions it creates messages in asb and there are no databus-headers attached. I can't figure out why this is happening and the only clue I've got is our nservicebus logging file.

I've created a bug before in the databus repo [https://github.com/Particular/NServiceBus.DataBus.AzureBlobStorage/issues/22](url)

Can so

[2017-05-04 12:34] yvesgoeleven commented on #540
Those exceptions are internal to ASB, they are not uncommon to see these in the shared service (premium should not have this problem) and they should be resolved on their own. From the logs it appears to resolve itself. Is this the case? Or did you need to reboot before it continued processing?

Also, do you see any correlation between these exceptions and the missing headers?

[2017-05-04 12:37] yvesgoeleven commented on #540
PS: If you want more details on why the exception occurs, you have to submit the trackingid (TrackingId:425dfda8-5644-4316-be63-dc49e236c2fc) from the log to azure support. They can use this id to start an investigation to the cause.

[2017-05-04 13:01] JSCProjects commented on #540
@yvesgoeleven the amount of exceptions is equal to the amount of messages who have no databus headers. I will try to get the logging from the provided trackingid

[2017-05-04 13:52] yvesgoeleven commented on #540
@JSCProjects that is interesting. I will need to investigate but it could point to headers getting lost in the retry logic

[2017-05-04 14:18] SeanFeldman commented on #539
👍
I'll try to summarize a few things that would like to see discussed, specifically:
1. Throttling (NSB message pump) vs concurrency (ASB client receivers).
1. Tying number of receivers to concurrency level.
1. Preventing throttled messages that expired entering pipeline.

[2017-05-04 15:03] SeanFeldman commented on #540
@JSCProjects would it be possible to provide a repro for this issue? Retry logic doesn't lose headers as @yvesgoeleven suspected, but it could be something else that is getting in the way. Thank you.

[2017-05-04 15:12] JSCProjects commented on #540
@seanfeldman the problem is that I don't know how to reproduce it. I really want to help you with that, therefore I asked the logging of azure from Microsoft

[2017-05-04 15:16] SeanFeldman commented on #540
@JSCProjects thank you, that could shed some light.
Troubleshooting this type of problems takes time. We'll have to play the elimination game 😃

[2017-05-04 17:09] daerath commented on #531
@SeanFeldman I will try and share a memory dump.  I'm currently attempting to repro this with standalone code.  I'll keep you updated on this as I learn (hopefully) more.

[2017-05-04 17:52] SeanFeldman commented on #532
fixed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/609eb483cc2a9f229ccb6fb974e7043ae5a6c55b

[2017-05-04 17:52] #532 closed

[2017-05-04 18:51] SeanFeldman opened #541 "Port fixes from hotfix-7.2.1 to develop"
Connects to #532

Bring changes from PRs #534 & #537 to `develop`.

[2017-05-04 19:09] SeanFeldman commented on #525
WIP removed, at a review stage.

[2017-05-05 11:50] #541 closed

[2017-05-05 14:41] SeanFeldman opened #542 "Message can be duplicated when incoming message processing is aborted"
## Who's affected

Anyone using Azure Service Bus transport with `SendsAtomicWithReceive` transaction guarantee and implements a custom behavior `Behavior<ITransportReceiveContext>` to cancel incoming message processing by invoking `context.AbortReceiveOperation();`.

## Symptoms

Custom behavior requests incoming message processing to be aborted.  Incoming message is successfully aborted, but the

[2017-05-08 07:25] JSCProjects commented on #540
Hi @SeanFeldman and @yvesgoeleven I've got a mail back from Microsoft and they saw some spikes and drops on their metric logs on a specific time. And that was the result of a guest OS upgrade on the tenant. They adviced me to implement an exponential backoff retry logic, but IMHO this is already implemented by nservicebus ;-)

[2017-05-08 07:29] yvesgoeleven commented on #540
@JSCProjects correct that is already in place.

[2017-05-08 08:11] JSCProjects commented on #540
@yvesgoeleven but how is it possible that when a message is retried by flr/slr the mandatory (databus) header is lost?

[2017-05-08 09:02] yvesgoeleven commented on #540
@JSCProjects I do not know yet. I verified the code and all headers and properties are copied over as far as I can see. Are there other headers lost or is it only the databus header? The transport does not treat it any differently.

[2017-05-08 09:21] JSCProjects commented on #540
afaik the only headers that were missing are those from the databus

[2017-05-08 13:00] yvesgoeleven commented on #540
I just tried to reproduce this by modifying the databus sample but couldn't. The header is still there after FLR, SLR and when moved to the error queue. This seems to work fine.

[2017-05-08 14:09] yvesgoeleven commented on #540
@JSCProjects in what version of the transport are you seeing this btw? I reproed using the latest

[2017-05-08 14:51] SeanFeldman commented on #540
Might need to get a repro to figure this out. Could be something else
getting in a way and causing this.

[2017-05-08 15:19] JSCProjects commented on #540
@yvesgoeleven wow you reproduced it? Really nice. I'm using the following packages

`  <package id="NServiceBus" version="6.1.3" targetFramework="net452" />
  <package id="NServiceBus.Autofac" version="6.0.1" targetFramework="net452" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="7.1.4" targetFramework="net452" />
  <package id="NServiceBus.DataBus.AzureBlobStorage

[2017-05-08 16:07] SeanFeldman commented on #540
@yvesgoeleven moving to "In Progress" since you've managed to repro it.
Could you provide steps to repro or the link to a repro?

[2017-05-09 12:41] yvesgoeleven commented on #540
@seanfeldman @jscprojects Uhm, no I did not reproduce it...

[2017-05-09 13:39] SeanFeldman commented on #540
@JSCProjects looks like after all we do need a repro to solve the mystery. Is that an option?

[2017-05-09 13:43] danielmarbach commented on #528
TLDR: We can't

Both endpoint-oriented and forwarding topology run the manage rights pre-startup check which blows up the endpoint when you don't have manage rights even though you never actually specified that you want to run the installers.

Steps to reproduce:

- Create new namespace on ASB
- Create new policy without manage rights
- Execute for example `When_sending_a_base_command` with the ro

[2017-05-09 13:45] JSCProjects commented on #540
I understand, but it’s almost impossible for me to reproduce it because it’s triggered by an guest OS upgrade from azure.

Met vriendelijke groeten / Kind regards,

Joey Chömpff

[http://www.jsc-projects.nl/userfiles/newlogo50percent.png]

JSC Projects
Blankena 16
8103 JC Raalte

Telefoon: 06-150 12 458
E-Mail: mail@jsc-projects.nl<mailto:mail@jsc-projects.nl>
Internet: http://www.jsc-projects.nl<

[2017-05-09 16:57] SeanFeldman commented on #540
@JSCProjects I'm not sure how to proceed from here as we can't repro this on our end.

This is the part I'm having difficulty with. If guest OS upgrade kicks in, it would interrupt message dispatch, but not cause certain headers to be removed from messages.

[2017-05-09 17:03] SeanFeldman commented on #528
👍

👍

I would also suggest to move Manage Rights check out of the pre-startup check phase as it's clearly a wrong place for it to be invoked. It should be invoked _before_ infrastructure is attempted to be created, assuming installers are turned on.

[2017-05-09 17:05] JSCProjects commented on #540
@seanfeldman ok I understand. Perhaps Microsoft can shed some light. I'm also out of options. Don't know how  to rewrite endpoint.send(msg)

[2017-05-09 17:08] SeanFeldman commented on #540
@JSCProjects are there _any_ customizations related to databus? Trying to see if there's any direction we didn't evaluate.

[2017-05-09 17:16] JSCProjects commented on #540
@SeanFeldman if a propertyname ends with "LargePayload" then it's a databus property

[2017-05-09 17:24] SeanFeldman commented on #540
@JSCProjects I meant customizations that are not part of the standard NSB code. A custom behavior or such.

[2017-05-09 17:28] JSCProjects commented on #540
Nope nothing I try to keep it as clean as possible

[2017-05-09 21:52] SeanFeldman commented on #525
Closed via https://github.com/Particular/docs.particular.net/commit/d8cf5d42dfec6611a30f06db6185f041978afd3c

[2017-05-09 21:52] #525 closed

[2017-05-10 08:36] danielmarbach opened #545 "Disable manage rights check when installer are not configured to run"
Carved out of #528

## Who's affected

Customers using connection strings with no manage rights

## Symptoms

When using a connection string with no manage rights and disabled installers the endpoint will refuse to start. Manage rights are required to operate an endpoint

## Solution

When installers are not enabled the transport should assume everything is configured properly and just run.

[2017-05-10 08:37] danielmarbach opened #546 "Disable topology creation for subscriptions when no manage rights provided"
Carved out of #528

## Who's affected

Customers using connection strings with no manage rights

## Symptoms

When an endpoint runs with no manage rights in the connection string and a subscription arrives the topology creation will try to create the topology section. The creation fails without manage rights.

## Solution

Disable topology creation when no manage rights are given and assume everyt

[2017-05-10 08:37] danielmarbach commented on #528
Raised #545 and #546 Closing

[2017-05-10 08:37] #528 closed

[2017-05-10 19:06] yvesgoeleven commented on #540
@JSCProjects we are going to look into the path towards SC as well, it's another point where something could potentially be wrong (assuming the error happened after resubmit via Service Pulse?)

[2017-05-10 20:31] SeanFeldman commented on #540
@JSCProjects looking at this thread, can I suggest to get on a call with one of us (@yvesgoeleven or myself, based on your time and availability) to review this? There are way too many question marks and w/o deeper understanding or a repro would be hard to help. Thanks.

[2017-05-15 05:57] JSCProjects commented on #540
@SeanFeldman & @yvesgoeleven I've found in the deployment an older version of Microsoft.ServiceBus.dll (3.0.50700.7) I'm not sure this fixes it, but I'm gonna take a try.

[2017-05-15 18:04] SeanFeldman commented on #524
There are a few paths:

1. **Installers turned off, manage rights not needed** - we don't care, user responsibility to set up the topology. Runtime exception will take place if topology is not created properly.
1. **Installers turned on, no manage rights** - we'll throw an exception about lack of manage rights at startup.
1. **Installers turned on, manage rights exist** - this PR will handle misco

[2017-05-16 20:14] SeanFeldman commented on #542
Closed via https://github.com/Particular/NServiceBus.AzureServiceBus/commit/0e2b2e5ec3ef6ead8c80f8057721d0f634fbdb72

[2017-05-16 20:14] #542 closed

[2017-05-16 22:10] SeanFeldman commented on #545
Should be backported

[2017-05-16 22:10] SeanFeldman commented on #546
Should be backported

[2017-05-18 11:14] Scooletz commented on #503
@SeanFeldman Has this been reviewed and accepted, if yes, can we close it?

[2017-05-18 15:46] SeanFeldman commented on #503
A warning was added on 2017-02-08.
Not sure if there's more to it. I'd say we close it.

[2017-05-18 15:46] #503 closed

[2017-05-19 05:20] SeanFeldman commented on #540
@JSCProjects any updates?

[2017-05-19 05:21] SeanFeldman commented on #531
@daerath any updates?

[2017-05-19 05:55] JSCProjects commented on #540
@SeanFeldman the last week we didn’t receive any errors, but I don’t know if there was guest os upgrade on azure

@JSCProjects<https://github.com/jscprojects> any updates?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Particular/NServiceBus.AzureServiceBus/issues/540#issuecomment-302611341>, or mute the thread<https://githu

[2017-05-19 08:56] Scooletz commented on #500
I reviewed the current approach based on the installer `QueuesCreator` that calls provided `ICreateQueues`. This is somehow stated on this page: https://docs.particular.net/nservicebus/transports/queuecreation#creation with

So it looks that it's stated, that queues will be created only when installers are run. In my opinion that's enough and we should not duplicate it in ASB doco if that's handle

[2017-05-19 09:28] Scooletz commented on #500
I issued a PR for this page though applying proper versioning (no ifs on the page) https://github.com/Particular/docs.particular.net/pull/2756

[2017-05-19 14:14] Scooletz commented on #500
Closing it as it is document in the general documentation which is easy to find by searching for queues' creation.

[2017-05-19 14:14] #500 closed

[2017-05-19 14:24] JSCProjects commented on #540
@SeanFeldman Can you explain me what can go wrong here

`context.Send("queue-name", new Command()).ContinueWith(_ => {
       File.Move(file, "SOME-BACKUP_PATH");
       return true;
})`

The file is moved? But command isn't on the queue or audited. This is now happening instead of the missing header

[2017-05-19 14:36] yvesgoeleven commented on #540
@JSCProjects the 2 operations are completely disconnected and it may behave differently then it looks at frist sight.

Send doesn't really send, it adds to a list to be sent. After it is added to the list, you move the file. But if this takes long or an exception occurs or so then the send will not happen while your file has been moved.

Is the intention to move the file after the send happened?

[2017-05-19 15:21] SeanFeldman opened #556 "Acceptance Tests with delayed delivery are flaky"
Delayed delivery tests are based on a machine clock and fail randomly.
So far, we've ensured that build server agents have their clocks synchronized on each run, but that's not helping as delay of 2 seconds is extremely short.

Example: [here](https://builds.particular.net/viewLog.html?buildId=217206&tab=buildResultsDiv&buildTypeId=NServiceBusAzure_NServiceBusAzureServiceBus_2RunAcceptenceTests) a

[2017-05-19 15:22] SeanFeldman commented on #556
@Particular/nservicebus-maintainers is this affecting any other downstream with native deferral ability?
Anything we could do **not** to disable these tests but have them done in a different manner? Thanks.

[2017-05-19 15:29] SeanFeldman commented on #540
@JSCProjects what @yvesgoeleven said. You should really send a command to a handler that is responsible moving the file.

[2017-05-19 17:07] SeanFeldman commented on #556
Note: the test [was changed](https://github.com/Particular/NServiceBus.AzureServiceBus/blob/develop/src/AcceptanceTests/App_Packages/NSB.AcceptanceTests.6.2.0/DelayedDelivery/When_Deferring_a_message.cs#L32) as the original tests was failing with either values larger or smaller than 2 secs.